openapi: 3.1.0
info:
  title: backend
  description: ''
  license:
    name: ''
  version: 0.1.0
servers:
- url: https://api.hound.chat/
  description: production
- url: http://localhost:8080/
  description: local development
paths:
  /auth/login/finish:
    post:
      tags:
      - auth
      summary: Completes the ceremony to login a user to hound.chat with an existing passkey.
      operationId: finish_login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishLoginRequest'
        required: true
      responses:
        '200':
          description: login request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinishLoginResponse'
        '400':
          description: invalid passkey challenge
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create JWT token
  /auth/login/start:
    post:
      tags:
      - auth
      summary: Starts the ceremony to login a user to hound.chat with an existing passkey.
      operationId: start_login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartLoginRequest'
        required: true
      responses:
        '200':
          description: login request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartLoginResponse'
        '400':
          description: invalid passkey challenge
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create JWT token
  /auth/register/finish:
    post:
      tags:
      - auth
      summary: Completes the ceremony to register a user to hound.chat
      operationId: finish_register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishRegisterRequest'
        required: true
      responses:
        '200':
          description: signup completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinishLoginResponse'
        '400':
          description: invalid passkey challenge
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create JWT token
  /auth/register/start:
    post:
      tags:
      - auth
      summary: Begins the ceremony to register a user to hound.chat
      operationId: start_register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRegisterRequest'
        required: true
      responses:
        '200':
          description: Registration challenge generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartRegisterResponse'
        '422':
          description: Invalid request body
        '500':
          description: Internal server error
components:
  schemas:
    FinishLoginRequest:
      type: object
      required:
      - user_id
      - credential
      properties:
        credential:
          description: |-
            An opaque object representing the completed challenge from the client
            for verifying a passkey.
        user_id:
          type: string
          format: uuid
          description: The user's ID.
    FinishLoginResponse:
      type: object
      required:
      - token
      - user_id
      - expires_in
      properties:
        expires_in:
          type: integer
          format: int64
          description: When from the point of issuance the provided token will expire.
        token:
          type: string
          description: The encoded JWT blob.
        user_id:
          type: string
          format: uuid
          description: The user's ID.
    FinishRegisterRequest:
      type: object
      required:
      - user_id
      - credential
      properties:
        credential:
          description: |-
            An opaque object representing the completed challenge from the client
            for creating a passkey.
        user_id:
          type: string
          format: uuid
          description: The (potential) ID of the user, not assigned until completion.
    StartLoginRequest:
      type: object
      required:
      - email
      properties:
        email:
          type: string
          description: The user's email address.
    StartLoginResponse:
      type: object
      required:
      - user_id
      - options
      properties:
        options:
          description: |-
            An opaque object representing the challenge from the server for passkey
            verification.
        user_id:
          type: string
          format: uuid
          description: The user's ID.
    StartRegisterRequest:
      type: object
      required:
      - email
      - display_name
      properties:
        display_name:
          type: string
          description: The name of the device that user is registering to their account.
        email:
          type: string
          description: The user's email address used for verification.
    StartRegisterResponse:
      type: object
      required:
      - options
      - user_id
      properties:
        options:
          description: |-
            An opaque object representing the challenge from the server for passkey
            creation.
        user_id:
          type: string
          format: uuid
          description: The (potential) ID of the user, not assigned until completion.
tags:
- name: auth
  description: Auth API endpoints

