openapi: 3.1.0
info:
  title: backend
  description: Hound's backend API
  license:
    name: CNPL
    url: https://raw.githubusercontent.com/houndapp/src/refs/heads/main/LICENCE?token=GHSAT0AAAAAADONFUAYBK6ECB5JNROCM6Q22KOPY3A
  version: 0.1.0
servers:
- url: https://api.hound.chat
  description: production
- url: http://127.0.0.1:8080
  description: local development
paths:
  /.well-known/webauthn:
    get:
      tags:
      - well-known
      summary: Returns the WebAuthn relying party configuration.
      operationId: webauthn
      responses:
        '200':
          description: WebAuthn RPID and allowed origins
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAuthnResponse'
  /auth/login/finish:
    post:
      tags:
      - auth
      summary: Completes the ceremony to login a user to hound.chat with an existing passkey.
      operationId: finish_login
      requestBody:
        description: Passkey credential to complete authentication
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishLoginRequest'
            example:
              user_id: 018c5b6e-0000-7000-0000-000000000001
              credential:
                id: credential-id
                type: public-key
                response:
                  clientDataJSON: base64
                  authenticatorData: base64
                  signature: base64
        required: true
      responses:
        '200':
          description: login request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinishLoginResponse'
        '400':
          description: invalid passkey challenge
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create JWT token
  /auth/login/start:
    post:
      tags:
      - auth
      summary: Starts the ceremony to login a user to hound.chat with an existing passkey.
      operationId: start_login
      requestBody:
        description: Email address of the user to authenticate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartLoginRequest'
        required: true
      responses:
        '200':
          description: passkey challenge issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartLoginResponse'
              example:
                user_id: 018c5b6e-0000-7000-0000-000000000001
                options:
                  publicKey:
                    challenge: base64-challenge
                    rpId: hound.chat
                    timeout: 60000
                    allowCredentials: []
        '400':
          description: no active login session found
        '422':
          description: malformed login email
        '500':
          description: failed to create login session
  /auth/register/finish:
    post:
      tags:
      - auth
      summary: Completes the ceremony to register a user to hound.chat
      operationId: finish_register
      requestBody:
        description: Passkey credential and user details to complete registration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishRegisterRequest'
            example:
              user_id: 018c5b6e-0000-7000-0000-000000000001
              name: Aoife
              credential:
                id: credential-id
                type: public-key
                response:
                  clientDataJSON: base64
                  attestationObject: base64
        required: true
      responses:
        '200':
          description: signup completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinishLoginResponse'
        '400':
          description: no active registration session found
        '422':
          description: malformed registration response
        '500':
          description: failed to complete registration
  /auth/register/start:
    post:
      tags:
      - auth
      summary: Begins the ceremony to register a user to hound.chat
      operationId: start_register
      requestBody:
        description: User email and device display name for passkey registration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRegisterRequest'
        required: true
      responses:
        '200':
          description: Registration challenge generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartRegisterResponse'
              example:
                options:
                  publicKey:
                    challenge: base64-challenge
                    rp:
                      id: hound.chat
                      name: hound.chat
                    timeout: 60000
                user_id: 018c5b6e-0000-7000-0000-000000000001
        '409':
          description: Email already registered — client should log in instead
        '422':
          description: Invalid request body
        '500':
          description: Internal server error
  /auth/token/refresh:
    post:
      tags:
      - auth
      summary: Refresh JWT token endpoint - Uses middleware to validate refresh token
      operationId: refresh_token
      responses:
        '200':
          description: new access token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenResponse'
        '401':
          description: invalid refresh token
        '500':
          description: internal server error
      security:
      - refreshToken: []
  /auth/token/revoke:
    post:
      tags:
      - auth
      summary: Revoke refresh token endpoint
      operationId: revoke_token
      responses:
        '200':
          description: token revoked
        '401':
          description: Invalid token
        '500':
          description: failed to revoke refresh token
      security:
      - token: []
  /auth/token/validate:
    get:
      tags:
      - auth
      summary: Validates an access token and returns success if it is valid.
      operationId: validate_token
      responses:
        '200':
          description: access token validated
        '401':
          description: access token is invalid or expired
        '500':
          description: token validation failed
      security:
      - token: []
  /community:
    get:
      tags:
      - community
      summary: Retrieves all communities.
      operationId: get_communities
      parameters:
      - name: per_page
        in: query
        description: Maximum number of results per page (capped at 80)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: page
        in: query
        description: Page number to retrieve (0-indexed)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: list of user's communities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_CommunityModel'
        '422':
          description: invalid pagination parameters
        '500':
          description: couldn't list communities
      security:
      - token: []
    post:
      tags:
      - community
      summary: Creates a new community with default general and voice spaces.
      operationId: post_community
      requestBody:
        description: Name for the new community
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCommunityRequest'
        required: true
      responses:
        '200':
          description: new community created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityModel'
        '422':
          description: invalid community name
        '500':
          description: failed to create community
      security:
      - token: []
    delete:
      tags:
      - community
      summary: 'Deletes a community with the given ID. TODO: verify user has permissions to delete community'
      operationId: delete_community
      parameters:
      - name: id
        in: query
        description: The ID of the community to delete
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community deleted
        '422':
          description: invalid community ID parameter
        '500':
          description: couldn't delete community
      security:
      - token: []
  /community/join:
    put:
      tags:
      - community
      summary: Joins the authenticated user to a community.
      operationId: join_community
      parameters:
      - name: id
        in: query
        description: The ID of the community to join
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community joined
        '422':
          description: invalid join request parameters
        '500':
          description: couldn't join community
      security:
      - token: []
  /community/leave:
    delete:
      tags:
      - community
      summary: Removes the authenticated user from a community.
      operationId: leave_community
      parameters:
      - name: id
        in: query
        description: The ID of the community to leave
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community left
        '422':
          description: invalid leave request parameters
        '500':
          description: couldn't leave community
      security:
      - token: []
  /community/members:
    get:
      tags:
      - community
      summary: Lists members of a community.
      operationId: get_community_members
      parameters:
      - name: per_page
        in: query
        description: Max members per page (capped at 80)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: page
        in: query
        description: Members page number (0-indexed)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: id
        in: query
        description: The community ID to list members for
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: list of community members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_CommunityMemberModel'
        '422':
          description: invalid members query parameters
        '500':
          description: failed to list community members
      security:
      - token: []
  /community/{id}:
    get:
      tags:
      - community
      summary: Retrieves a community by ID.
      operationId: get_community
      parameters:
      - name: id
        in: path
        description: The community ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityModel'
        '404':
          description: community not found
        '422':
          description: invalid community ID format
        '500':
          description: couldn't find community
      security:
      - token: []
  /community/{id}/member/{user_id}:
    delete:
      tags:
      - community
      summary: Kicks a user from the community.
      operationId: kick_community_member
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      - name: user_id
        in: path
        description: User ID to kick
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: user kicked
        '400':
          description: cannot kick self or last organiser
        '403':
          description: missing ManageUsers permission
      security:
      - token: []
  /community/{id}/profile:
    get:
      tags:
      - community
      summary: Retrieves the authenticated user's profile within a community.
      operationId: get_community_profile
      parameters:
      - name: id
        in: path
        description: The ID of the community to retrieve the profile for
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: the user's profile in this community
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCommunityProfileResponse'
        '403':
          description: user is not a member of this community
        '422':
          description: invalid community profile request
        '500':
          description: couldn't retrieve community profile
      security:
      - token: []
  /community/{id}/role:
    post:
      tags:
      - community
      summary: Creates a new role in the community.
      operationId: post_role
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRoleRequest'
        required: true
      responses:
        '200':
          description: role created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
        '403':
          description: missing ManageRoles permission
      security:
      - token: []
  /community/{id}/role/{role_id}:
    delete:
      tags:
      - community
      summary: Deletes a role. Cannot delete @organisers or @everyone.
      operationId: delete_role
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      - name: role_id
        in: path
        description: Role ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: role deleted
        '400':
          description: cannot delete @organisers or @everyone
        '403':
          description: missing ManageRoles permission
        '404':
          description: role not found
      security:
      - token: []
    patch:
      tags:
      - community
      summary: Renames a role.
      operationId: patch_role
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      - name: role_id
        in: path
        description: Role ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRoleRequest'
        required: true
      responses:
        '200':
          description: role updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
        '400':
          description: cannot rename @organisers or @everyone
        '403':
          description: missing ManageRoles permission
        '404':
          description: role not found
      security:
      - token: []
  /community/{id}/role/{role_id}/member:
    post:
      tags:
      - community
      summary: Adds a user to a role.
      operationId: post_role_member
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      - name: role_id
        in: path
        description: Role ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRoleMemberRequest'
        required: true
      responses:
        '200':
          description: member added to role
        '400':
          description: cannot manually add to @everyone
        '403':
          description: missing ManageRoles permission
        '404':
          description: role not found
      security:
      - token: []
  /community/{id}/role/{role_id}/member/{user_id}:
    delete:
      tags:
      - community
      summary: Removes a user from a role.
      operationId: delete_role_member
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      - name: role_id
        in: path
        description: Role ID
        required: true
        schema:
          type: string
          format: uuid
      - name: user_id
        in: path
        description: User ID to remove
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: member removed from role
        '400':
          description: cannot remove last organiser, or cannot remove from @everyone
        '403':
          description: missing ManageRoles permission
        '404':
          description: role not found
      security:
      - token: []
  /community/{id}/role/{role_id}/permissions:
    put:
      tags:
      - community
      summary: Replaces all permissions for a role (full replace, not a patch).
      operationId: put_role_permissions
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      - name: role_id
        in: path
        description: Role ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutRolePermissionsRequest'
        required: true
      responses:
        '200':
          description: permissions updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
        '400':
          description: cannot set permissions on @organisers
        '403':
          description: missing ManageRoles permission
        '404':
          description: role not found
      security:
      - token: []
  /community/{id}/roles:
    get:
      tags:
      - community
      summary: Lists all roles in a community.
      operationId: get_roles
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: list of roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleResponse'
      security:
      - token: []
  /instance:
    get:
      tags:
      - instance
      summary: Returns the instance settings.
      operationId: get_instance
      responses:
        '200':
          description: instance settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceModel'
        '500':
          description: failed to get instance
      security:
      - token: []
  /instance/provision:
    post:
      tags:
      - instance
      summary: Marks the instance as provisioned. Returns 409 if already provisioned.
      operationId: post_provision
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: 'null'
              - type: object
                properties:
                  default_community:
                    type:
                    - string
                    - 'null'
                    format: uuid
      responses:
        '200':
          description: instance marked as provisioned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceModel'
        '409':
          description: instance already provisioned
        '500':
          description: failed to provision instance
      security:
      - token: []
  /instance/user/{user_id}/permissions:
    put:
      tags:
      - instance
      summary: Replaces the instance-level permissions for a user. Requires `ManageInstance`.
      operationId: put_user_permissions
      parameters:
      - name: user_id
        in: path
        description: The user whose instance permissions to set
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutUserPermissionsRequest'
        required: true
      responses:
        '200':
          description: permissions updated
        '403':
          description: missing ManageInstance permission
      security:
      - token: []
  /profile/global:
    get:
      tags:
      - profile
      summary: Retrieves a user's global profile by user ID.
      operationId: get_global_profile
      parameters:
      - name: id
        in: query
        description: The ID of the user to look up. Defaults to the authenticated user.
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The user's global profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
      security:
      - token: []
    patch:
      tags:
      - profile
      summary: Sets the authenticated user's global avatar to a previously uploaded file.
      operationId: patch_global_avatar
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAvatarRequest'
        required: true
      responses:
        '204':
          description: Avatar updated
        '401':
          description: Missing or invalid token
        '403':
          description: Upload belongs to a different user
        '404':
          description: Upload not found
      security:
      - token: []
  /space:
    get:
      tags:
      - space
      summary: Lists all spaces within a community.
      operationId: get_community_spaces
      parameters:
      - name: per_page
        in: query
        description: Max spaces per page (capped at 80)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: page
        in: query
        description: Spaces page number (0-indexed)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: id
        in: query
        description: The community ID to list spaces for
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: list of community spaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_CommunitySpaceSummary'
        '422':
          description: invalid spaces query parameters
        '500':
          description: couldn't find spaces
      security:
      - token: []
    post:
      tags:
      - space
      summary: Creates a new space within a community.
      operationId: post_community_space
      requestBody:
        description: Community ID, name, and kind for the new space
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCommunitySpaceRequest'
        required: true
      responses:
        '200':
          description: new space created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunitySpaceMessageModel'
        '422':
          description: invalid space creation request
        '500':
          description: couldn't create space
      security:
      - token: []
    delete:
      tags:
      - space
      summary: Deletes a community space by ID.
      operationId: delete_community_space
      parameters:
      - name: id
        in: query
        description: The ID of the space to delete
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community space deleted
        '422':
          description: invalid space ID parameter
        '500':
          description: couldn't delete space
      security:
      - token: []
  /space/{id}:
    get:
      tags:
      - space
      summary: Retrieves a community space by ID.
      operationId: get_community_space
      parameters:
      - name: id
        in: path
        description: The space ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community space returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteCommunitySpace'
        '422':
          description: invalid space ID format
        '500':
          description: couldn't find space
      security:
      - token: []
    patch:
      tags:
      - space
      summary: Renames or toggles the private flag on a community space.
      operationId: patch_community_space
      parameters:
      - name: id
        in: path
        description: Space ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCommunitySpaceRequest'
        required: true
      responses:
        '200':
          description: space updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteCommunitySpace'
        '403':
          description: missing ManageSpaces permission
        '404':
          description: space not found
      security:
      - token: []
  /space/{id}/message:
    get:
      tags:
      - space
      summary: Retrieves messages from a community space.
      operationId: get_community_space_messages
      parameters:
      - name: id
        in: path
        description: The ID of the space to retrieve messages from
        required: true
        schema:
          type: string
          format: uuid
      - name: per_page
        in: query
        description: Max messages per page (capped at 80)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: page
        in: query
        description: Messages page number (0-indexed)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: messages and their senders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunitySpaceMessages'
      security:
      - token: []
    post:
      tags:
      - space
      summary: Post a new message to a community space
      operationId: post_community_space_message
      parameters:
      - name: id
        in: path
        description: The ID of the space to post the message to
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Message content to post
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCommunitySpaceMessageRequest'
        required: true
      responses:
        '200':
          description: message posted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteCommunitySpaceMessage'
        '422':
          description: invalid message request body
        '500':
          description: couldn't post message
      security:
      - token: []
  /space/{id}/message/{message_id}:
    patch:
      tags:
      - space
      summary: Edit an existing message. The previous content is saved to message history.
      operationId: patch_community_space_message
      parameters:
      - name: id
        in: path
        description: The ID of the space containing the message
        required: true
        schema:
          type: string
          format: uuid
      - name: message_id
        in: path
        description: The ID of the message to edit
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Updated message content
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCommunitySpaceMessageRequest'
        required: true
      responses:
        '200':
          description: message updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteCommunitySpaceMessage'
        '403':
          description: not the message author
        '404':
          description: message not found
        '422':
          description: invalid message contents
        '500':
          description: couldn't update message
      security:
      - token: []
  /space/{id}/overwrites:
    put:
      tags:
      - space
      summary: |-
        Replaces all permission overwrites for a channel (full replace, not a patch).
        Only channel-applicable permissions (`channels:view`, `messages:send`,
        `messages:history`, `messages:manage`) are accepted; community-only permissions
        are rejected with 400.
      operationId: put_space_overwrites
      parameters:
      - name: id
        in: path
        description: Space ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutSpaceOverwritesRequest'
        required: true
      responses:
        '200':
          description: overwrites updated
        '400':
          description: non-channel-applicable permission in overwrite
        '403':
          description: missing ManageChannels permission
        '404':
          description: space not found
      security:
      - token: []
  /space/{space_id}/voice/heartbeat:
    post:
      tags:
      - space
      summary: |-
        Keepalive heartbeat: resets the server-side eviction timer for the caller.
        The client sends this every 10 s; after 30 s of silence the server evicts the user.
      operationId: post_voice_heartbeat
      parameters:
      - name: space_id
        in: path
        description: The voice space ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: heartbeat accepted
      security:
      - token: []
  /space/{space_id}/voice/join:
    post:
      tags:
      - space
      summary: 'Join a voice space: validates membership, issues a relay token, and broadcasts voice:join.'
      description: |-
        The response includes:
        * `relay_token` — a short-lived HMAC-SHA256 token the client presents to the SFU on connect.
        * `relay_url` — the iroh relay URL; returned by the server so clients never hardcode it.
        * `peers` — other participants already in the channel, so the client can render their avatars
          before any media arrives.
      operationId: post_voice_join
      parameters:
      - name: space_id
        in: path
        description: The voice space ID to join
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: joined voice channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceJoinResponse'
        '403':
          description: not a community member
        '404':
          description: space not found
        '500':
          description: couldn't generate relay token
      security:
      - token: []
  /space/{space_id}/voice/leave:
    post:
      tags:
      - space
      summary: 'Leave a voice space: broadcasts voice:leave to all channel subscribers.'
      operationId: post_voice_leave
      parameters:
      - name: space_id
        in: path
        description: The voice space ID to leave
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: left voice channel
        '404':
          description: space not found
      security:
      - token: []
  /upload/attachment:
    post:
      tags:
      - upload
      operationId: upload_attachment
      parameters:
      - name: space_id
        in: query
        description: The space this attachment belongs to.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '201':
          description: Upload accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '401':
          description: Missing or invalid token
        '413':
          description: File exceeds size limit
        '415':
          description: MIME type not allowed or magic bytes mismatch
        '422':
          description: Multipart parse failure
      security:
      - token: []
  /upload/avatar:
    post:
      tags:
      - upload
      operationId: upload_avatar
      parameters:
      - name: community_id
        in: query
        description: |-
          When set, the avatar is associated with this community (stored under `community-avatar/`).
          When absent, the avatar is a global user avatar (stored under `avatar/`).
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '201':
          description: Upload accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '401':
          description: Missing or invalid token
        '413':
          description: File exceeds size limit
        '415':
          description: MIME type not allowed or magic bytes mismatch
        '422':
          description: Multipart parse failure
      security:
      - token: []
  /user/community:
    get:
      tags:
      - user
      summary: Lists communities the authenticated user belongs to.
      operationId: get_user_communities
      parameters:
      - name: per_page
        in: query
        description: Max joined communities per page (capped at 80)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: page
        in: query
        description: Joined communities page number (0-indexed)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: communities the authenticated user has joined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_CommunityModel'
        '422':
          description: invalid user community query
        '500':
          description: failed to list user communities
      security:
      - token: []
components:
  schemas:
    AttachmentModel:
      type: object
      description: An attachment associated with a message
      required:
      - id
      - url
      - content_type
      - size_bytes
      properties:
        content_type:
          type: string
          example: image/png
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        size_bytes:
          type: integer
          format: int64
        url:
          type: string
          example: https://cdn.hound.chat/attachment/...
    CommunityMemberModel:
      type: object
      description: A member of a community
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
    CommunityModel:
      type: object
      description: A community and its spaces
      required:
      - id
      - name
      - default_space
      - spaces
      properties:
        default_space:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        name:
          type: string
          example: My Community
        spaces:
          $ref: '#/components/schemas/Page_CommunitySpaceSummary'
    CommunitySpaceDetails:
      oneOf:
      - type: object
        required:
        - messages
        properties:
          messages:
            $ref: '#/components/schemas/CommunitySpaceMessages'
      - type: object
      description: specific details related to the kind of community space
    CommunitySpaceKind:
      type: string
      description: The type of a community space
      enum:
      - Text
      - Voice
      example: Text
    CommunitySpaceMessageModel:
      type: object
      description: A message posted in a community space, as returned by the API
      required:
      - id
      - user_id
      - contents
      - attachments
      properties:
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentModel'
        contents:
          type: string
          example: Domhran dia duit!
        edited_at:
          type:
          - integer
          - 'null'
          format: int64
          description: Unix timestamp (ms) of the last edit, or null if never edited.
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        user_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
    CommunitySpaceMessages:
      type: object
      description: A page of messages and their merged sender profiles
      required:
      - messages
      - users
      properties:
        messages:
          $ref: '#/components/schemas/Page_CommunitySpaceMessageModel'
        users:
          type: array
          items:
            $ref: '#/components/schemas/MergedProfile'
    CommunitySpaceSummary:
      type: object
      description: A space within a community
      required:
      - id
      - community_id
      - name
      - kind
      properties:
        community_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        kind:
          $ref: '#/components/schemas/CommunitySpaceKind'
        name:
          type: string
          example: general
    CompleteCommunitySpace:
      type: object
      description: A community space
      required:
      - id
      - community_id
      - name
      - kind
      properties:
        community_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        details:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/CommunitySpaceDetails'
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        kind:
          $ref: '#/components/schemas/CommunitySpaceKind'
        name:
          type: string
          example: general
    CompleteCommunitySpaceMessage:
      type: object
      description: A message posted in a community space
      required:
      - id
      - space_id
      - user_id
      - contents
      - profile
      - attachments
      properties:
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentModel'
        contents:
          type: string
          example: Domhran dia duit!
        edited_at:
          type:
          - integer
          - 'null'
          format: int64
          description: Unix timestamp (ms) of the last edit, or null if never edited.
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        profile:
          $ref: '#/components/schemas/MergedProfile'
        space_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        user_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
    FinishLoginRequest:
      type: object
      description: Request body for completing passkey login
      required:
      - user_id
      - credential
      properties:
        credential:
          type: object
          description: An opaque object representing the completed challenge from the client for verifying a passkey.
          examples:
          - id: credential-id
            type: public-key
            response:
              clientDataJSON: base64
              authenticatorData: base64
              signature: base64
        user_id:
          type: string
          format: uuid
          description: The user's ID.
    FinishLoginResponse:
      type: object
      description: Response body for a successful login or registration
      required:
      - access_token
      - refresh_token
      - user_id
      - access_token_expires_in
      - refresh_token_expires_in
      - profile
      properties:
        access_token:
          type: string
          description: The encoded JWT access token.
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMThjNWI2ZS0wMDAwLTcwMDAtMDAwMC0wMDAwMDAwMDAwMDEifQ.example
        access_token_expires_in:
          type: integer
          format: int64
          description: Seconds until the access token expires.
          example: 2700
        profile:
          $ref: '#/components/schemas/ProfileResponse'
          description: The logged-in user's global profile.
        refresh_token:
          type: string
          description: The encoded JWT refresh token.
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMThjNWI2ZS0wMDAwLTcwMDAtMDAwMC0wMDAwMDAwMDAwMDEiLCJ0eXAiOiJyZWZyZXNoIn0.example
        refresh_token_expires_in:
          type: integer
          format: int64
          description: Seconds until the refresh token expires.
          example: 604800
        user_id:
          type: string
          format: uuid
          description: The ID of the successfully authenticated user.
          example: 018c5b6e-0000-7000-0000-000000000001
    FinishRegisterRequest:
      type: object
      description: Request body for completing passkey registration
      required:
      - user_id
      - name
      - credential
      properties:
        credential:
          type: object
          description: An opaque object representing the completed challenge from the client for creating a passkey.
          examples:
          - id: credential-id
            type: public-key
            response:
              clientDataJSON: base64
              attestationObject: base64
        name:
          type: string
          description: The (potential) display name for the user, not assigned until completion.
        user_id:
          type: string
          format: uuid
          description: The (potential) ID of the user, not assigned until completion.
    GetCommunityProfileResponse:
      type: object
      description: A user's profile within a community
      required:
      - id
      - user_id
      - community_id
      properties:
        community_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        user_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
    InstanceModel:
      type: object
      required:
      - single_community_instance
      - provisioned
      properties:
        default_community:
          type:
          - string
          - 'null'
          format: uuid
        provisioned:
          type: boolean
        single_community_instance:
          type: boolean
    InstancePermission:
      type: string
      description: |-
        Instance-level permissions — scoped to the server instance, not any community.
        Stored in `instance_user_permission`.
      enum:
      - ManageCommunities
      - ManageInstance
    MergedProfile:
      type: object
      description: |-
        The merged result of a user's global and community-specific profiles.
        Community profile fields take precedence over global ones where both are present.
      required:
      - user_id
      - global_profile_id
      - picture
      properties:
        community_profile_id:
          type:
          - string
          - 'null'
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        global_profile_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        name:
          type:
          - string
          - 'null'
          example: Aoife
        picture:
          type: string
          example: https://picsum.photos/seed/picsum/200
        user_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
    Page_CommunityMemberModel:
      type: object
      description: A paginated list of CommunityMemberModel entities
      required:
      - contents
      - current
      - next
      - prev
      - total
      properties:
        contents:
          type: array
          items:
            $ref: '#/components/schemas/CommunityMemberModel'
          examples:
          - []
        current:
          type: integer
          format: int64
          examples:
          - 0
          minimum: 0
        next:
          type: integer
          format: int64
          examples:
          - 1
          minimum: 0
        prev:
          type: integer
          format: int64
          examples:
          - 0
          minimum: 0
        total:
          type: integer
          format: int64
          examples:
          - 1
          minimum: 0
    Page_CommunityModel:
      type: object
      description: A paginated list of CommunityModel entities
      required:
      - contents
      - current
      - next
      - prev
      - total
      properties:
        contents:
          type: array
          items:
            $ref: '#/components/schemas/CommunityModel'
          examples:
          - []
        current:
          type: integer
          format: int64
          examples:
          - 0
          minimum: 0
        next:
          type: integer
          format: int64
          examples:
          - 1
          minimum: 0
        prev:
          type: integer
          format: int64
          examples:
          - 0
          minimum: 0
        total:
          type: integer
          format: int64
          examples:
          - 1
          minimum: 0
    Page_CommunitySpaceMessageModel:
      type: object
      description: A paginated list of CommunitySpaceMessageModel entities
      required:
      - contents
      - current
      - next
      - prev
      - total
      properties:
        contents:
          type: array
          items:
            $ref: '#/components/schemas/CommunitySpaceMessageModel'
          examples:
          - []
        current:
          type: integer
          format: int64
          examples:
          - 0
          minimum: 0
        next:
          type: integer
          format: int64
          examples:
          - 1
          minimum: 0
        prev:
          type: integer
          format: int64
          examples:
          - 0
          minimum: 0
        total:
          type: integer
          format: int64
          examples:
          - 1
          minimum: 0
    Page_CommunitySpaceSummary:
      type: object
      description: A paginated list of CommunitySpaceSummary entities
      required:
      - contents
      - current
      - next
      - prev
      - total
      properties:
        contents:
          type: array
          items:
            $ref: '#/components/schemas/CommunitySpaceSummary'
          examples:
          - []
        current:
          type: integer
          format: int64
          examples:
          - 0
          minimum: 0
        next:
          type: integer
          format: int64
          examples:
          - 1
          minimum: 0
        prev:
          type: integer
          format: int64
          examples:
          - 0
          minimum: 0
        total:
          type: integer
          format: int64
          examples:
          - 1
          minimum: 0
    PatchAvatarRequest:
      type: object
      description: Request body for setting a profile avatar.
      required:
      - avatar_upload_id
      properties:
        avatar_upload_id:
          type: string
          format: uuid
          description: The ID returned by `POST /upload/avatar`.
    PatchCommunitySpaceMessageRequest:
      type: object
      description: Request body for editing an existing message
      required:
      - contents
      properties:
        contents:
          type: string
          description: The updated text content
          example: Hello, world! (edited)
    PatchCommunitySpaceRequest:
      type: object
      description: Request body for updating a community space
      properties:
        is_private:
          type:
          - boolean
          - 'null'
        name:
          type:
          - string
          - 'null'
    PatchRoleRequest:
      type: object
      description: Request to rename a role
      required:
      - name
      properties:
        name:
          type: string
    Permission:
      type: string
      enum:
      - ManageCommunity
      - ManageChannels
      - ManageUsers
      - ManageRoles
      - ViewChannels
      - SendMessages
      - ReadHistory
      - ManageMessages
    PostCommunityRequest:
      type: object
      description: Request body for creating a new community
      required:
      - name
      properties:
        name:
          type: string
          description: The display name for the new community
          example: My Community
    PostCommunitySpaceMessageRequest:
      type: object
      description: Request body for posting a message to a community space
      required:
      - contents
      properties:
        attachments:
          type: array
          items:
            type: string
            format: uuid
          description: Upload IDs to attach to the message
        contents:
          type: string
          description: The text content of the message
          example: Hello, world!
    PostCommunitySpaceRequest:
      type: object
      description: Request body for creating a new community space
      required:
      - id
      - name
      - kind
      properties:
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        is_private:
          type:
          - boolean
          - 'null'
          description: Whether this channel is private (invite-only). Defaults to false.
        kind:
          $ref: '#/components/schemas/CommunitySpaceKind'
        name:
          type: string
          example: general
    PostRoleMemberRequest:
      type: object
      description: Request to add a member to a role
      required:
      - user_id
      properties:
        user_id:
          type: string
          format: uuid
    PostRoleRequest:
      type: object
      description: Request to create a new role
      required:
      - name
      properties:
        name:
          type: string
    ProfileResponse:
      type: object
      description: A user's profile
      required:
      - id
      - user_id
      - name
      properties:
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        name:
          type: string
          example: Aoife
        user_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
    PublicKeyCredentialCreationOptionsJSON:
      description: |-
        Schema name mirrors the browser's global `PublicKeyCredentialCreationOptionsJSON` type.
        The openapi-generator maps this schema name to the browser global — no model is generated.
      default: null
    PublicKeyCredentialRequestOptionsJSON:
      description: |-
        Schema name mirrors the browser's global `PublicKeyCredentialRequestOptionsJSON` type.
        The openapi-generator maps this schema name to the browser global — no model is generated.
      default: null
    PutRolePermissionsRequest:
      type: object
      description: Request to replace a role's permissions
      required:
      - permissions
      properties:
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'
    PutSpaceOverwritesRequest:
      type: object
      description: Request body for `PUT /{id}/overwrites` — full replace of all overwrites for the space.
      required:
      - role_overwrites
      - user_overwrites
      properties:
        role_overwrites:
          type: array
          items:
            $ref: '#/components/schemas/RoleOverwrite'
        user_overwrites:
          type: array
          items:
            $ref: '#/components/schemas/UserOverwrite'
    PutUserPermissionsRequest:
      type: object
      description: Request body for setting a user's instance-level permissions.
      required:
      - permissions
      properties:
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/InstancePermission'
    RefreshTokenResponse:
      type: object
      description: Response body containing a new access token and refresh token
      required:
      - access_token
      - expires_in
      - refresh_token
      properties:
        access_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMThjNWI2ZS0wMDAwLTcwMDAtMDAwMC0wMDAwMDAwMDAwMDEifQ.example
        expires_in:
          type: integer
          format: int64
          example: 2700
          minimum: 0
        refresh_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMThjNWI2ZS0wMDAwLTcwMDAtMDAwMC0wMDAwMDAwMDAwMDEiLCJ0eXAiOiJyZWZyZXNoIn0.example
    RoleOverwrite:
      type: object
      description: A single permission overwrite entry for a role.
      required:
      - role_id
      - permission
      - allow
      properties:
        allow:
          type: boolean
          description: '`true` = allow; `false` = deny.'
        permission:
          $ref: '#/components/schemas/Permission'
        role_id:
          type: string
          format: uuid
    RoleResponse:
      type: object
      description: A community role with its permissions
      required:
      - id
      - community_id
      - name
      - is_organisers
      - is_everyone
      - permissions
      properties:
        community_id:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        is_everyone:
          type: boolean
        is_organisers:
          type: boolean
        name:
          type: string
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'
    StartLoginRequest:
      type: object
      description: Request body for starting passkey login
      required:
      - email
      properties:
        email:
          type: string
          description: The user's email address.
          example: user@hound.chat
    StartLoginResponse:
      type: object
      description: Response body for starting passkey login
      required:
      - user_id
      - options
      properties:
        options:
          type: object
          description: Challenge from the server to pass to navigator.credentials.get()
          required:
          - publicKey
          properties:
            publicKey:
              $ref: '#/components/schemas/PublicKeyCredentialRequestOptionsJSON'
          examples:
          - publicKey:
              challenge: base64-challenge
              rpId: hound.chat
              timeout: 60000
              allowCredentials: []
        user_id:
          type: string
          format: uuid
          description: The user ID required to complete the passkey ceremony.
          example: 018c5b6e-0000-7000-0000-000000000001
    StartRegisterRequest:
      type: object
      description: Request body for starting passkey registration
      required:
      - email
      - display_name
      properties:
        display_name:
          type: string
          description: The name of the device that user is registering to their account.
          example: MacBook Pro
        email:
          type: string
          description: The user's email address used for verification.
          example: user@hound.chat
    StartRegisterResponse:
      type: object
      description: Response body for starting passkey registration
      required:
      - options
      - user_id
      properties:
        options:
          type: object
          description: Challenge from the server to pass to navigator.credentials.create()
          required:
          - publicKey
          properties:
            publicKey:
              $ref: '#/components/schemas/PublicKeyCredentialCreationOptionsJSON'
          examples:
          - publicKey:
              challenge: base64-challenge
              rpId: hound.chat
              timeout: 60000
        user_id:
          type: string
          format: uuid
          description: The provisional user ID to supply when finishing registration.
    UploadResponse:
      type: object
      required:
      - id
      - url
      - content_type
      - size_bytes
      properties:
        content_type:
          type: string
          example: image/webp
        id:
          type: string
          format: uuid
          example: 018f1234-0000-7000-0000-000000000001
        size_bytes:
          type: integer
          format: int64
        url:
          type: string
          example: https://cdn.hound.chat/avatar/018c.../018f....webp
    UserOverwrite:
      type: object
      description: A single permission overwrite entry for a user.
      required:
      - user_id
      - permission
      - allow
      properties:
        allow:
          type: boolean
          description: '`true` = allow; `false` = deny.'
        permission:
          $ref: '#/components/schemas/Permission'
        user_id:
          type: string
          format: uuid
    VoiceJoinResponse:
      type: object
      description: |-
        Response for joining a voice channel.

        The client uses this to:
        1. Present `relay_token` to the SFU on connect (proves they are allowed in).
        2. Configure their iroh endpoint to use `relay_url` for NAT traversal.
        3. Render the participant list with `peers` before any media arrives.
      required:
      - profile
      - relay_url
      - relay_token
      - peers
      properties:
        peers:
          type: array
          items:
            $ref: '#/components/schemas/VoicePeerInfo'
          description: |-
            Other participants already in the channel at the time of joining.
            Populated from the in-memory voice-participant registry.
        profile:
          $ref: '#/components/schemas/MergedProfile'
          description: The joining user's merged community profile (name, avatar, etc.).
        relay_token:
          type: string
          description: |-
            Short-lived HMAC-SHA256 token (15 min TTL) that proves this user
            may connect to the SFU for the given voice channel.

            Format: `{user_id}:{space_id}:{expiry_unix_secs}:{hex_mac}`
        relay_url:
          type: string
          description: |-
            iroh relay URL. Clients must not hardcode this value — use whatever
            the server returns here so that changing relay infrastructure only
            requires a backend deploy, not a client release.
        sfu_node_id:
          type:
          - string
          - 'null'
          description: |-
            iroh node ID of the SFU (hex-encoded public key).

            `None` when the backend is not configured with `SFU_NODE_ID` (e.g.
            in development without a running SFU). Clients skip the direct QUIC
            connection when this is absent.
    VoicePeerInfo:
      type: object
      description: |-
        Minimal information about a voice channel participant.

        Clients use this to render participant avatars and names before any
        media arrives. The SFU assigns its own `peer_id` per connection; we
        don't include that here because clients only need the iroh connection
        to the SFU, not per-peer node IDs.
      required:
      - user_id
      - picture
      properties:
        name:
          type:
          - string
          - 'null'
          description: Display name (from community profile, falls back to global profile).
        picture:
          type: string
          description: Avatar URL.
        user_id:
          type: string
          format: uuid
          description: Stable UUID for this user. Matches the `user_id` in socket.io events.
    WebAuthnResponse:
      type: object
      description: WebAuthn relying party configuration
      required:
      - rp_id
      - origins
      properties:
        origins:
          type: array
          items:
            type: string
          example:
          - https://hound.chat
        rp_id:
          type: string
          example: hound.chat
  securitySchemes:
    refreshToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT refresh token used to obtain a new access token
    token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token for authenticating API requests
tags:
- name: auth
  description: Auth API endpoints
- name: community
  description: Community API endpoints
- name: profile
  description: Profile endpoints
- name: space
  description: Community space endpoints
- name: upload
  description: File upload endpoints
- name: well-known
  description: .well-known endpoints
- name: user
  description: User endpoints
