openapi: 3.1.0
info:
  title: backend
  description: Hound's backend API
  license:
    name: CNPL
    url: https://raw.githubusercontent.com/houndapp/src/refs/heads/main/LICENCE?token=GHSAT0AAAAAADONFUAYBK6ECB5JNROCM6Q22KOPY3A
  version: 0.1.0
servers:
- url: https://api.hound.chat
  description: production
- url: http://127.0.0.1:8080
  description: local development
paths:
  /.well-known/apple-app-site-association:
    get:
      tags:
      - well-known
      summary: |-
        Serves `/.well-known/apple-app-site-association`. Apple's authentication services
        fetch this when an app declares `webcredentials:<rp_id>` in its associated-domains
        entitlement; without it, native ASAuthorization reaches the OS sheet then fails
        with a domain-not-associated error. Returned as bare JSON with no auth or redirect
        (Apple's CDN requirements). Webview clients don't need this — they validate against
        the WebAuthn `origins` list (see [`webauthn`]).
      operationId: apple_app_site_association
      responses:
        '200':
          description: Apple App Site Association (webcredentials)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppleAppSiteAssociation'
  /.well-known/webauthn:
    get:
      tags:
      - well-known
      summary: Returns the WebAuthn relying party configuration.
      operationId: webauthn
      responses:
        '200':
          description: WebAuthn RPID and allowed origins
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAuthnResponse'
  /auth/identity:
    get:
      tags:
      - auth
      summary: Lists the signed-in account's login methods.
      operationId: list_identities
      responses:
        '200':
          description: linked login methods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentitiesResponse'
        '401':
          description: not signed in
      security:
      - token: []
  /auth/identity/email/link/finish:
    post:
      tags:
      - auth
      summary: Completes the email + passkey link ceremony.
      operationId: link_email_finish
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkEmailFinishRequest'
        required: true
      responses:
        '204':
          description: email linked and passkey registered
        '400':
          description: no active link ceremony
        '401':
          description: not signed in and no valid ceremony token
        '409':
          description: email was claimed while the ceremony ran
      security:
      - token: []
  /auth/identity/email/link/start:
    post:
      tags:
      - auth
      summary: |-
        Starts linking an email + passkey to an account. The ceremony is ordinary
        passkey registration; no new user or profile is created on finish.
      operationId: link_email_start
      requestBody:
        description: Email to link and device display name for the new passkey
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkEmailStartRequest'
        required: true
      responses:
        '200':
          description: passkey registration challenge issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartRegisterResponse'
        '401':
          description: not signed in and no valid ceremony token
        '409':
          description: email already in use, or this account already has one
      security:
      - token: []
  /auth/identity/email/link/token:
    post:
      tags:
      - auth
      summary: |-
        Mints a scoped email-link ceremony token for the browser-deferred flow
        (platforms with no system passkey provider). The hosted auth page uses it
        in place of a session token — it authorises nothing else.
      operationId: link_email_token
      responses:
        '200':
          description: ceremony token minted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailLinkTokenResponse'
        '401':
          description: not signed in
      security:
      - token: []
  /auth/identity/steam/link:
    post:
      tags:
      - auth
      summary: |-
        Links a Steam identity to the signed-in account. Never merges: a Steam ID
        already on another account is a conflict.
      operationId: link_steam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SteamLinkRequest'
        required: true
      responses:
        '204':
          description: steam identity linked (or already linked to this account)
        '400':
          description: expected exactly one of ticket / link_token
        '401':
          description: invalid credential or not signed in
        '409':
          description: steam id belongs to another account, or this account already has one
      security:
      - token: []
  /auth/identity/{provider}:
    delete:
      tags:
      - auth
      summary: Unlinks a login method from the signed-in account.
      operationId: unlink_identity
      parameters:
      - name: provider
        in: path
        description: login method to unlink
        required: true
        schema:
          $ref: '#/components/schemas/IdentityProvider'
      responses:
        '204':
          description: identity unlinked
        '400':
          description: removal would leave the account with no way to sign in
        '401':
          description: not signed in
        '404':
          description: no such identity on this account
      security:
      - token: []
  /auth/login/finish:
    post:
      tags:
      - auth
      summary: Completes the ceremony to login a user to hound.chat with an existing passkey.
      operationId: finish_login
      requestBody:
        description: Passkey credential to complete authentication
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishLoginRequest'
            example:
              user_id: 018c5b6e-0000-7000-0000-000000000001
              credential:
                id: credential-id
                type: public-key
                response:
                  clientDataJSON: base64
                  authenticatorData: base64
                  signature: base64
        required: true
      responses:
        '200':
          description: login request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinishLoginResponse'
        '400':
          description: invalid passkey challenge
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create JWT token
  /auth/login/start:
    post:
      tags:
      - auth
      summary: Starts the ceremony to login a user to hound.chat with an existing passkey.
      operationId: start_login
      requestBody:
        description: Email address of the user to authenticate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartLoginRequest'
        required: true
      responses:
        '200':
          description: passkey challenge issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartLoginResponse'
              example:
                user_id: 018c5b6e-0000-7000-0000-000000000001
                options:
                  publicKey:
                    challenge: base64-challenge
                    rpId: hound.chat
                    timeout: 60000
                    allowCredentials: []
        '400':
          description: no active login session found
        '422':
          description: malformed login email
        '500':
          description: failed to create login session
  /auth/magic/register:
    post:
      tags:
      - auth
      summary: |-
        Creates a new account for an email holding a valid `magic_register` link
        token. Mirrors `steam::steam_register` exactly (see `Api::register_account`).
      operationId: magic_register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MagicRegisterRequest'
        required: true
      responses:
        '200':
          description: account created and signed in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinishLoginResponse'
        '401':
          description: invalid or expired link token
        '409':
          description: email was claimed while the ceremony ran
        '501':
          description: email login is not enabled on this instance
  /auth/magic/start:
    post:
      tags:
      - auth
      summary: |-
        Starts email magic-link login: mints a code, emails a link (+ the code for
        manual entry). No account-existence oracle — see the module docs.
      operationId: magic_start
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MagicStartRequest'
        required: true
      responses:
        '202':
          description: accepted — response is identical whether or not the email has an account
        '429':
          description: too many codes requested for this email recently
        '501':
          description: email login is not enabled on this instance
  /auth/magic/verify:
    post:
      tags:
      - auth
      summary: 'Redeems a magic-link code (one-shot: consumed before use).'
      operationId: magic_verify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MagicVerifyRequest'
        required: true
      responses:
        '200':
          description: code redeemed; session or link_token returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MagicVerifyResponse'
        '401':
          description: unknown, expired, or already-used code
        '501':
          description: email login is not enabled on this instance
  /auth/register/finish:
    post:
      tags:
      - auth
      summary: Completes the ceremony to register a user to hound.chat
      operationId: finish_register
      requestBody:
        description: Passkey credential and user details to complete registration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishRegisterRequest'
            example:
              user_id: 018c5b6e-0000-7000-0000-000000000001
              name: Aoife
              credential:
                id: credential-id
                type: public-key
                response:
                  clientDataJSON: base64
                  attestationObject: base64
        required: true
      responses:
        '200':
          description: signup completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinishLoginResponse'
        '400':
          description: no active registration session found
        '422':
          description: malformed registration response
        '500':
          description: failed to complete registration
  /auth/register/start:
    post:
      tags:
      - auth
      summary: Begins the ceremony to register a user to hound.chat
      operationId: start_register
      requestBody:
        description: User email and device display name for passkey registration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRegisterRequest'
        required: true
      responses:
        '200':
          description: Registration challenge generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartRegisterResponse'
              example:
                options:
                  publicKey:
                    challenge: base64-challenge
                    rp:
                      id: hound.chat
                      name: hound.chat
                    timeout: 60000
                user_id: 018c5b6e-0000-7000-0000-000000000001
        '409':
          description: Email already registered — client should log in instead
        '422':
          description: Invalid request body
        '500':
          description: Internal server error
  /auth/steam/openid/verify:
    post:
      tags:
      - auth
      summary: Signs in with a Steam OpenID 2.0 assertion (browser flow via the auth service).
      operationId: steam_openid_verify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SteamOpenIdVerifyRequest'
        required: true
      responses:
        '200':
          description: assertion verified; session or link_token returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SteamLoginResponse'
        '401':
          description: steam rejected the assertion
        '501':
          description: steam login is not enabled on this instance
        '502':
          description: steam servers unreachable
  /auth/steam/register:
    post:
      tags:
      - auth
      summary: Creates a new account for a Steam ID holding a valid link token.
      operationId: steam_register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SteamRegisterRequest'
        required: true
      responses:
        '200':
          description: account created and signed in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinishLoginResponse'
        '401':
          description: invalid or expired link token
        '409':
          description: steam id was linked to another account in the meantime
  /auth/steam/session:
    post:
      tags:
      - auth
      summary: Signs in with a Steamworks auth session ticket (app launched through Steam).
      operationId: steam_session
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SteamSessionRequest'
        required: true
      responses:
        '200':
          description: ticket validated; session or link_token returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SteamLoginResponse'
        '401':
          description: steam rejected the ticket, or the account is banned
        '501':
          description: steam login is not enabled on this instance
        '502':
          description: steam web api unreachable
  /auth/token/refresh:
    post:
      tags:
      - auth
      summary: Refresh JWT token endpoint - Uses middleware to validate refresh token
      operationId: refresh_token
      responses:
        '200':
          description: new access token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenResponse'
        '401':
          description: invalid refresh token
        '500':
          description: internal server error
      security:
      - refreshToken: []
  /auth/token/revoke:
    post:
      tags:
      - auth
      summary: Revoke refresh token endpoint
      operationId: revoke_token
      responses:
        '200':
          description: token revoked
        '401':
          description: Invalid token
        '500':
          description: failed to revoke refresh token
      security:
      - token: []
  /auth/token/validate:
    get:
      tags:
      - auth
      summary: Validates an access token and returns success if it is valid.
      operationId: validate_token
      responses:
        '200':
          description: access token validated
        '401':
          description: access token is invalid or expired
        '500':
          description: token validation failed
      security:
      - token: []
  /community:
    get:
      tags:
      - community
      summary: Retrieves all communities.
      operationId: get_communities
      parameters:
      - name: per_page
        in: query
        description: Maximum number of results per page (capped at 80)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: page
        in: query
        description: Page number to retrieve (0-indexed)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: list of user's communities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_CommunityModel'
        '422':
          description: invalid pagination parameters
        '500':
          description: couldn't list communities
      security:
      - token: []
    post:
      tags:
      - community
      summary: Creates a new community with default general and voice spaces.
      operationId: post_community
      requestBody:
        description: Name for the new community
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCommunityRequest'
        required: true
      responses:
        '200':
          description: new community created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityModel'
        '422':
          description: invalid community name
        '500':
          description: failed to create community
      security:
      - token: []
    delete:
      tags:
      - community
      summary: Deletes a community with the given ID.
      operationId: delete_community
      parameters:
      - name: id
        in: query
        description: The ID of the community to delete
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community deleted
        '403':
          description: missing ManageCommunities instance permission
        '404':
          description: community not found
        '422':
          description: invalid community ID parameter
        '500':
          description: couldn't delete community
      security:
      - token: []
  /community/join:
    put:
      tags:
      - community
      summary: Joins the authenticated user to a community.
      operationId: join_community
      parameters:
      - name: id
        in: query
        description: The ID of the community to join
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community joined
        '422':
          description: invalid join request parameters
        '500':
          description: couldn't join community
      security:
      - token: []
  /community/leave:
    delete:
      tags:
      - community
      summary: Removes the authenticated user from a community.
      operationId: leave_community
      parameters:
      - name: id
        in: query
        description: The ID of the community to leave
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community left
        '422':
          description: invalid leave request parameters
        '500':
          description: couldn't leave community
      security:
      - token: []
  /community/members:
    get:
      tags:
      - community
      summary: Lists members of a community.
      operationId: get_community_members
      parameters:
      - name: per_page
        in: query
        description: Max members per page (capped at 80)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: page
        in: query
        description: Members page number (0-indexed)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: id
        in: query
        description: The community ID to list members for
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: list of community members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_CommunityMemberModel'
        '422':
          description: invalid members query parameters
        '500':
          description: failed to list community members
      security:
      - token: []
  /community/{id}:
    get:
      tags:
      - community
      summary: Retrieves a community by ID.
      operationId: get_community
      parameters:
      - name: id
        in: path
        description: The community ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityModel'
        '404':
          description: community not found
        '422':
          description: invalid community ID format
        '500':
          description: couldn't find community
      security:
      - token: []
  /community/{id}/member/{user_id}:
    delete:
      tags:
      - community
      summary: Kicks a user from the community.
      operationId: kick_community_member
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      - name: user_id
        in: path
        description: User ID to kick
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: user kicked
        '400':
          description: cannot kick self or last organiser
        '403':
          description: missing ManageUsers permission
      security:
      - token: []
  /community/{id}/profile:
    get:
      tags:
      - community
      summary: Retrieves the authenticated user's profile within a community.
      operationId: get_community_profile
      parameters:
      - name: id
        in: path
        description: The ID of the community to retrieve the profile for
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: the user's profile in this community
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCommunityProfileResponse'
        '403':
          description: user is not a member of this community
        '422':
          description: invalid community profile request
        '500':
          description: couldn't retrieve community profile
      security:
      - token: []
  /community/{id}/reset:
    post:
      tags:
      - community
      summary: |-
        Resets a community to the same default layout `POST /community` produces, while
        preserving its ID and name. Every space, message, role, member, and community-scoped
        profile is discarded; the caller becomes the sole member and sole `@organisers` member.
      operationId: reset_community
      parameters:
      - name: id
        in: path
        description: The community ID to reset
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community reset to a fresh default layout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityModel'
        '403':
          description: missing ManageCommunities instance permission
        '404':
          description: community not found
        '422':
          description: invalid community ID format
        '500':
          description: failed to reset community
      security:
      - token: []
  /community/{id}/role:
    post:
      tags:
      - community
      summary: Creates a new role in the community.
      operationId: post_role
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRoleRequest'
        required: true
      responses:
        '200':
          description: role created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
        '403':
          description: missing ManageRoles permission
      security:
      - token: []
  /community/{id}/role/{role_id}:
    delete:
      tags:
      - community
      summary: Deletes a role. Cannot delete @organisers or @everyone.
      operationId: delete_role
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      - name: role_id
        in: path
        description: Role ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: role deleted
        '400':
          description: cannot delete @organisers or @everyone
        '403':
          description: missing ManageRoles permission
        '404':
          description: role not found
      security:
      - token: []
    patch:
      tags:
      - community
      summary: Renames a role.
      operationId: patch_role
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      - name: role_id
        in: path
        description: Role ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRoleRequest'
        required: true
      responses:
        '200':
          description: role updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
        '400':
          description: cannot rename @organisers or @everyone
        '403':
          description: missing ManageRoles permission
        '404':
          description: role not found
      security:
      - token: []
  /community/{id}/role/{role_id}/member:
    post:
      tags:
      - community
      summary: Adds a user to a role.
      operationId: post_role_member
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      - name: role_id
        in: path
        description: Role ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRoleMemberRequest'
        required: true
      responses:
        '200':
          description: member added to role
        '400':
          description: cannot manually add to @everyone
        '403':
          description: missing ManageRoles permission
        '404':
          description: role not found
      security:
      - token: []
  /community/{id}/role/{role_id}/member/{user_id}:
    delete:
      tags:
      - community
      summary: Removes a user from a role.
      operationId: delete_role_member
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      - name: role_id
        in: path
        description: Role ID
        required: true
        schema:
          type: string
          format: uuid
      - name: user_id
        in: path
        description: User ID to remove
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: member removed from role
        '400':
          description: cannot remove last organiser, or cannot remove from @everyone
        '403':
          description: missing ManageRoles permission
        '404':
          description: role not found
      security:
      - token: []
  /community/{id}/role/{role_id}/permissions:
    put:
      tags:
      - community
      summary: Replaces all permissions for a role (full replace, not a patch).
      operationId: put_role_permissions
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      - name: role_id
        in: path
        description: Role ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutRolePermissionsRequest'
        required: true
      responses:
        '200':
          description: permissions updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
        '400':
          description: cannot set permissions on @organisers
        '403':
          description: missing ManageRoles permission
        '404':
          description: role not found
      security:
      - token: []
  /community/{id}/roles:
    get:
      tags:
      - community
      summary: Lists all roles in a community.
      operationId: get_roles
      parameters:
      - name: id
        in: path
        description: Community ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: list of roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleResponse'
      security:
      - token: []
  /embed/debug:
    post:
      tags:
      - embed
      summary: Unfurl one URL and report everything the pipeline saw.
      description: |-
        Backs the embed debugger in the client's developer settings. Available to any
        signed-in user, deliberately: posting a message already makes this service
        fetch a URL of your choosing, so the debugger grants no capability that
        sending a message does not — it only *shows* you what happened.

        What it does add is an **uncached** fetch, so it is rate limited per user.
      operationId: post_embed_debug
      requestBody:
        description: The URL to unfurl
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbedDebugRequest'
        required: true
      responses:
        '200':
          description: the unfurl trace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbedDebugReport'
        '429':
          description: too many debug unfurls; wait and retry
      security:
      - token: []
  /instance:
    get:
      tags:
      - instance
      summary: Returns the instance settings.
      operationId: get_instance
      responses:
        '200':
          description: instance settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceModel'
        '500':
          description: failed to get instance
      security:
      - token: []
  /instance/provision:
    post:
      tags:
      - instance
      summary: |-
        Marks the instance as provisioned. First-wins-atomic under concurrent
        callers: the write is a single conditional `UPDATE ... WHERE provisioned =
        false`, so exactly one concurrent caller's rows-affected count is 1 (the
        rest see 0 and 409). Returns 409 if already provisioned.
      operationId: post_provision
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: 'null'
              - type: object
                properties:
                  default_community:
                    type:
                    - string
                    - 'null'
                    format: uuid
      responses:
        '200':
          description: instance marked as provisioned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceModel'
        '409':
          description: instance already provisioned by a concurrent caller; GET /instance for the settled value
        '500':
          description: failed to provision instance
      security:
      - token: []
  /instance/user/{user_id}/permissions:
    put:
      tags:
      - instance
      summary: Replaces the instance-level permissions for a user. Requires `ManageInstance`.
      operationId: put_user_permissions
      parameters:
      - name: user_id
        in: path
        description: The user whose instance permissions to set
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutUserPermissionsRequest'
        required: true
      responses:
        '200':
          description: permissions updated
        '403':
          description: missing ManageInstance permission
      security:
      - token: []
  /profile/global:
    get:
      tags:
      - profile
      summary: Retrieves a user's global profile by user ID.
      operationId: get_global_profile
      parameters:
      - name: id
        in: query
        description: The ID of the user to look up. Defaults to the authenticated user.
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The user's global profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
      security:
      - token: []
    patch:
      tags:
      - profile
      summary: Sets the authenticated user's global avatar to a previously uploaded file.
      operationId: patch_global_avatar
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAvatarRequest'
        required: true
      responses:
        '204':
          description: Avatar updated
        '401':
          description: Missing or invalid token
        '403':
          description: Upload belongs to a different user
        '404':
          description: Upload not found
      security:
      - token: []
  /realtime/config:
    get:
      tags:
      - realtime
      summary: How to reach the realtime plane.
      description: |-
        A client calls this once at startup: a `webtransport_url` means "try
        WebTransport first, fall back to the WebSocket if it fails"; its absence
        means "go straight to the WebSocket". `cert_hash` is present only when the
        endpoint runs a self-signed certificate (development) and is the SHA-256
        digest the client must pin — in production the endpoint carries a real
        certificate and the field is absent.
      operationId: get_realtime_config
      responses:
        '200':
          description: how to reach the realtime plane
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeConfig'
        '401':
          description: missing or invalid access token
      security:
      - token: []
  /space:
    get:
      tags:
      - space
      summary: Lists all spaces within a community.
      operationId: get_community_spaces
      parameters:
      - name: per_page
        in: query
        description: Max spaces per page (capped at 80)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: page
        in: query
        description: Spaces page number (0-indexed)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: id
        in: query
        description: The community ID to list spaces for
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: list of community spaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_CommunitySpaceSummary'
        '422':
          description: invalid spaces query parameters
        '500':
          description: couldn't find spaces
      security:
      - token: []
    post:
      tags:
      - space
      summary: Creates a new space within a community.
      operationId: post_community_space
      requestBody:
        description: Community ID, name, and kind for the new space
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCommunitySpaceRequest'
        required: true
      responses:
        '200':
          description: new space created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteCommunitySpace'
        '422':
          description: invalid space creation request
        '500':
          description: couldn't create space
      security:
      - token: []
    delete:
      tags:
      - space
      summary: Deletes a community space by ID.
      operationId: delete_community_space
      parameters:
      - name: id
        in: query
        description: The ID of the space to delete
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community space deleted
        '422':
          description: invalid space ID parameter
        '500':
          description: couldn't delete space
      security:
      - token: []
  /space/{id}:
    get:
      tags:
      - space
      summary: Retrieves a community space by ID.
      operationId: get_community_space
      parameters:
      - name: id
        in: path
        description: The space ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community space returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteCommunitySpace'
        '422':
          description: invalid space ID format
        '500':
          description: couldn't find space
      security:
      - token: []
    patch:
      tags:
      - space
      summary: Renames or toggles the private flag on a community space.
      operationId: patch_community_space
      parameters:
      - name: id
        in: path
        description: Space ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCommunitySpaceRequest'
        required: true
      responses:
        '200':
          description: space updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteCommunitySpace'
        '403':
          description: missing ManageSpaces permission
        '404':
          description: space not found
      security:
      - token: []
  /space/{id}/message:
    get:
      tags:
      - space
      summary: Retrieves messages from a community space.
      operationId: get_community_space_messages
      parameters:
      - name: id
        in: path
        description: The ID of the space to retrieve messages from
        required: true
        schema:
          type: string
          format: uuid
      - name: per_page
        in: query
        description: Max messages per page (capped at 80)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: page
        in: query
        description: Messages page number (0-indexed)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: messages and their senders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunitySpaceMessages'
      security:
      - token: []
    post:
      tags:
      - space
      summary: Post a new message to a community space
      operationId: post_community_space_message
      parameters:
      - name: id
        in: path
        description: The ID of the space to post the message to
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Message content to post
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCommunitySpaceMessageRequest'
        required: true
      responses:
        '200':
          description: message posted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteCommunitySpaceMessage'
        '422':
          description: empty message, or over the length limit
        '500':
          description: couldn't post message
      security:
      - token: []
  /space/{id}/message/{message_id}:
    patch:
      tags:
      - space
      summary: Edit an existing message. The previous content is saved to message history.
      operationId: patch_community_space_message
      parameters:
      - name: id
        in: path
        description: The ID of the space containing the message
        required: true
        schema:
          type: string
          format: uuid
      - name: message_id
        in: path
        description: The ID of the message to edit
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Updated message content
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCommunitySpaceMessageRequest'
        required: true
      responses:
        '200':
          description: message updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteCommunitySpaceMessage'
        '403':
          description: not the message author
        '404':
          description: message not found
        '422':
          description: empty message, or over the length limit
        '500':
          description: couldn't update message
      security:
      - token: []
  /space/{id}/overwrites:
    put:
      tags:
      - space
      summary: |-
        Replaces all permission overwrites for a channel (full replace, not a patch).
        Only channel-applicable permissions (`channels:view`, `messages:send`,
        `messages:history`, `messages:manage`) are accepted; community-only permissions
        are rejected with 400.
      operationId: put_space_overwrites
      parameters:
      - name: id
        in: path
        description: Space ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutSpaceOverwritesRequest'
        required: true
      responses:
        '200':
          description: overwrites updated
        '400':
          description: non-channel-applicable permission in overwrite
        '403':
          description: missing ManageChannels permission
        '404':
          description: space not found
      security:
      - token: []
  /space/{space_id}/voice/confirm:
    post:
      tags:
      - space
      summary: Confirm a voice join after the SFU handshake completes.
      description: |-
        Called by the client app once it has connected to the SFU and received
        its SFU-assigned `peer_id`. This is deliberately a separate step from
        `POST /voice/join` so that the `voice:join` socket event (broadcast to all
        other channel participants) is only emitted when the joining client is
        actually ready to send and receive media. The event carries `sfu_peer_id`
        so recipients can immediately map incoming SFU frames to a user UUID —
        no separate mapping event or race window.
      operationId: post_voice_confirm
      parameters:
      - name: space_id
        in: path
        description: The voice space ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostVoiceConfirmRequest'
        required: true
      responses:
        '200':
          description: join confirmed and broadcast to channel
        '404':
          description: not currently registered in this voice channel
      security:
      - token: []
  /space/{space_id}/voice/heartbeat:
    post:
      tags:
      - space
      summary: |-
        Keepalive heartbeat: resets the server-side eviction timer for the caller.
        The client sends this every 10 s; after 30 s of silence the server evicts the user.
      operationId: post_voice_heartbeat
      parameters:
      - name: space_id
        in: path
        description: The voice space ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: heartbeat accepted
      security:
      - token: []
  /space/{space_id}/voice/join:
    post:
      tags:
      - space
      summary: 'Join a voice space: validates membership, issues a relay token, and broadcasts voice:join.'
      description: |-
        The response includes:
        * `relay_token` — a short-lived HMAC-SHA256 token the client presents to the SFU on connect.
        * `relay_url` — the iroh relay URL; returned by the server so clients never hardcode it.
        * `peers` — other participants already in the channel, so the client can render their avatars
          before any media arrives.
      operationId: post_voice_join
      parameters:
      - name: space_id
        in: path
        description: The voice space ID to join
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: joined voice channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceJoinResponse'
        '403':
          description: not a community member
        '404':
          description: space not found
        '500':
          description: couldn't generate relay token
      security:
      - token: []
  /space/{space_id}/voice/leave:
    post:
      tags:
      - space
      summary: 'Leave a voice space: broadcasts voice:leave to all channel subscribers.'
      operationId: post_voice_leave
      parameters:
      - name: space_id
        in: path
        description: The voice space ID to leave
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: left voice channel
        '404':
          description: space not found
      security:
      - token: []
  /space/{space_id}/voice/relay-token:
    post:
      tags:
      - space
      summary: Re-mint ONLY the short-lived relay token for an in-progress call.
      description: |-
        The relay token has a 15-minute TTL (see [`Api::generate_relay_token`]); a call
        that outlives it would have every NEW SFU connect (a resubscribe after loss, a
        pipeline reconnect) rejected as expired. The client refreshes proactively at
        ~TTL/2 by calling this — it re-verifies the user is still a community member
        (so a removed user loses relay access on the next refresh, preserving the
        short-lived-token security property) and mints a fresh token.

        Unlike `voice/join` this has **no side effects**: it does not (re)register a
        voice participant, bump the eviction generation, re-broadcast `voice:join`, or
        collect the peer roster. It is a pure, idempotent membership-gated re-mint, safe
        to call repeatedly for the lifetime of a call.
      operationId: post_voice_relay_token
      parameters:
      - name: space_id
        in: path
        description: The voice space ID to re-mint a relay token for
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: re-minted relay token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelayTokenResponse'
        '403':
          description: not a community member
        '404':
          description: space not found
        '500':
          description: couldn't generate relay token
      security:
      - token: []
  /upload/attachment:
    post:
      tags:
      - upload
      operationId: upload_attachment
      parameters:
      - name: space_id
        in: query
        description: The space this attachment belongs to.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '201':
          description: Upload accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '401':
          description: Missing or invalid token
        '413':
          description: File exceeds size limit
        '415':
          description: MIME type not allowed or magic bytes mismatch
        '422':
          description: Multipart parse failure
      security:
      - token: []
    options:
      tags:
      - upload
      operationId: options_attachment
      responses:
        '204':
          description: Accepted media types, in `Accept-Post`
  /upload/avatar:
    post:
      tags:
      - upload
      operationId: upload_avatar
      parameters:
      - name: community_id
        in: query
        description: |-
          When set, the avatar is associated with this community (stored under `community-avatar/`).
          When absent, the avatar is a global user avatar (stored under `avatar/`).
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '201':
          description: Upload accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '401':
          description: Missing or invalid token
        '413':
          description: File exceeds size limit
        '415':
          description: MIME type not allowed or magic bytes mismatch
        '422':
          description: Multipart parse failure
      security:
      - token: []
    options:
      tags:
      - upload
      operationId: options_avatar
      responses:
        '204':
          description: Accepted media types, in `Accept-Post`
  /user/community:
    get:
      tags:
      - user
      summary: Lists communities the authenticated user belongs to.
      operationId: get_user_communities
      parameters:
      - name: per_page
        in: query
        description: Max joined communities per page (capped at 80)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: page
        in: query
        description: Joined communities page number (0-indexed)
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: communities the authenticated user has joined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_CommunityModel'
        '422':
          description: invalid user community query
        '500':
          description: failed to list user communities
      security:
      - token: []
components:
  schemas:
    AppleAppSiteAssociation:
      type: object
      description: |-
        Apple App Site Association — authorizes native (macOS/iOS) apps to use passkeys
        scoped to this relying-party domain.
      required:
      - webcredentials
      properties:
        webcredentials:
          $ref: '#/components/schemas/WebCredentials'
    AttachmentModel:
      type: object
      description: An attachment associated with a message
      required:
      - id
      - url
      - content_type
      - size_bytes
      properties:
        content_type:
          type: string
          example: image/png
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        size_bytes:
          type: integer
          format: int64
        url:
          type: string
          example: https://cdn.hound.chat/attachment/...
    CommunityMemberModel:
      type: object
      description: A member of a community
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
    CommunityModel:
      type: object
      description: A community and its spaces
      required:
      - id
      - name
      - default_space
      - spaces
      properties:
        default_space:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        name:
          type: string
          example: My Community
        spaces:
          $ref: '#/components/schemas/Page_CommunitySpaceSummary'
    CommunitySpaceDetails:
      oneOf:
      - type: object
        required:
        - messages
        properties:
          messages:
            $ref: '#/components/schemas/CommunitySpaceMessages'
      - type: object
      description: specific details related to the kind of community space
    CommunitySpaceKind:
      type: string
      description: The type of a community space
      enum:
      - Text
      - Voice
      example: Text
    CommunitySpaceMessageModel:
      type: object
      description: A message posted in a community space, as returned by the API
      required:
      - id
      - user_id
      - contents
      - attachments
      - embeds
      properties:
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentModel'
        contents:
          type: string
          example: Domhran dia duit!
        edited_at:
          type:
          - integer
          - 'null'
          format: int64
          description: Unix timestamp (ms) of the last edit, or null if never edited.
        embeds:
          type: array
          items:
            $ref: '#/components/schemas/LinkEmbed'
          description: Link previews, in the order their URLs appear in `contents`.
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        user_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
    CommunitySpaceMessages:
      type: object
      description: A page of messages and their merged sender profiles
      required:
      - messages
      - users
      properties:
        messages:
          type: object
          description: A paginated list of CommunitySpaceMessageModel entities
          required:
          - contents
          - current
          - next
          - prev
          - total
          properties:
            contents:
              type: array
              items:
                $ref: '#/components/schemas/CommunitySpaceMessageModel'
              examples:
              - []
            current:
              type: integer
              format: int64
              examples:
              - 0
              minimum: 0
            next:
              type: integer
              format: int64
              examples:
              - 1
              minimum: 0
            prev:
              type: integer
              format: int64
              examples:
              - 0
              minimum: 0
            total:
              type: integer
              format: int64
              examples:
              - 1
              minimum: 0
        users:
          type: array
          items:
            $ref: '#/components/schemas/MergedProfile'
    CommunitySpaceSummary:
      type: object
      description: A space within a community
      required:
      - id
      - community_id
      - name
      - kind
      properties:
        community_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        kind:
          $ref: '#/components/schemas/CommunitySpaceKind'
        name:
          type: string
          example: general
    CompleteCommunitySpace:
      type: object
      description: A community space
      required:
      - id
      - community_id
      - name
      - kind
      properties:
        community_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        details:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/CommunitySpaceDetails'
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        kind:
          $ref: '#/components/schemas/CommunitySpaceKind'
        name:
          type: string
          example: general
    CompleteCommunitySpaceMessage:
      type: object
      description: A message posted in a community space
      required:
      - id
      - space_id
      - user_id
      - contents
      - profile
      - attachments
      - embeds
      properties:
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentModel'
        contents:
          type: string
          example: Domhran dia duit!
        edited_at:
          type:
          - integer
          - 'null'
          format: int64
          description: Unix timestamp (ms) of the last edit, or null if never edited.
        embeds:
          type: array
          items:
            $ref: '#/components/schemas/LinkEmbed'
          description: |-
            Link previews for the URLs in `contents`.

            Empty on a fresh post: unfurling is a round-trip against a third party
            and happens after this response (see `api::embed::unfurl`), arriving as a
            realtime `message_embeds_updated`. Non-empty here on a history read, and
            on an edit of a message that already had previews.
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        profile:
          $ref: '#/components/schemas/MergedProfile'
        space_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        user_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
    EmailLinkTokenResponse:
      type: object
      description: A short-lived token authorising ONLY the email-link ceremony.
      required:
      - token
      properties:
        token:
          type: string
    EmbedAuthor:
      type: object
      description: 'A byline: oEmbed `author_name`/`author_url`, or `article:author`.'
      required:
      - name
      properties:
        name:
          type: string
        url:
          type:
          - string
          - 'null'
          description: |-
            The author's page. `http(s)` only — anything else is dropped at parse
            time rather than handed to a client that would make it tappable.
    EmbedDebugReport:
      type: object
      description: |-
        Everything the unfurl of one URL saw and decided — the embed debugger's
        payload.

        Deliberately not what a message carries: this is the working-out, and some of
        it ([`oembed_html`](Self::oembed_html)) is markup that must never reach a
        renderer. The debugger shows it as **escaped source text**.
      required:
      - request_url
      - cached
      - elapsed_ms
      properties:
        cached:
          type: boolean
          description: |-
            Whether this answer came from the shared unfurl cache. The debugger always
            bypasses it on the way in, so this reports what a *message* would have
            hit.
        elapsed_ms:
          type: integer
          format: int32
          minimum: 0
        embed:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/LinkEmbed'
            description: What a message would render, or `None` if this link unfurls to nothing.
        error:
          type:
          - string
          - 'null'
          description: |-
            Why there is no embed. `None` with no embed means "fetched fine, nothing
            worth showing".
        oembed_endpoint:
          type:
          - string
          - 'null'
          description: The oEmbed endpoint discovered via `<link rel="alternate">`, if any.
        oembed_html:
          type:
          - string
          - 'null'
          description: |-
            oEmbed's `html` player markup, verbatim. **Never rendered** — shown as
            source so an operator can see what a site is offering.
        raw:
          type: array
          items:
            $ref: '#/components/schemas/EmbedRawField'
          description: Every metadata key seen, whether or not it won.
        request_url:
          type: string
          description: The URL as typed into the debugger.
        steps:
          type: array
          items:
            $ref: '#/components/schemas/EmbedFetchStep'
          description: Every HTTP hop, in order.
        warnings:
          type: array
          items:
            type: string
          description: |-
            Non-fatal observations: a dropped `javascript:` URL, an image over the
            gallery cap, a malformed timestamp.
    EmbedDebugRequest:
      type: object
      description: Request body for `POST /embed/debug`.
      required:
      - url
      properties:
        url:
          type: string
          example: https://example.com
    EmbedFetchStep:
      type: object
      description: |-
        One HTTP hop the unfurl made. Redirects appear as their own entries, which is
        what makes "this link goes somewhere else" visible in the debugger.
      required:
      - url
      - elapsed_ms
      properties:
        bytes:
          type:
          - integer
          - 'null'
          format: int32
          description: |-
            Bytes read from this hop. `u32` rather than `u64` because every fetch is
            capped in single-digit megabytes, and the narrower type crosses the
            FRB bridge as a plain Dart `int`.
          minimum: 0
        content_type:
          type:
          - string
          - 'null'
        elapsed_ms:
          type: integer
          format: int32
          minimum: 0
        error:
          type:
          - string
          - 'null'
          description: Why this hop stopped the unfurl, if it did.
        resolved_ip:
          type:
          - string
          - 'null'
          description: |-
            The IP the guard resolved and pinned the connection to. Present even on a
            refusal — a blocked hop's address is exactly what you want to see.
        status:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
        url:
          type: string
    EmbedKind:
      type: string
      description: |-
        What a link turned out to be. Drives layout, not trust: every variant is
        rendered from the same sanitised fields.

        Derived from oEmbed's `type` where one was found, else from the Open Graph
        `og:type` / Twitter `twitter:card` pair, else [`EmbedKind::Link`].
      enum:
      - link
      - article
      - photo
      - video
      - audio
      - rich
      - profile
    EmbedMedia:
      type: object
      description: |-
        One image, audio track, or video the embed refers to.

        [`url`](Self::url) is the **only** URL a renderer should load. It addresses
        this deployment's media proxy, which re-fetches the origin under the same
        SSRF guard the unfurl itself ran under, caps the payload, and answers from a
        cache — so a client's IP never reaches the linked site and a hot embed
        cannot be turned into an amplifier against its origin.

        It is **relative** on the wire (`/embed/media/{embed}/{key}`). The client
        resolves it against its configured API base at decode time, which keeps the
        backend from needing to know its own public URL.
      required:
      - url
      - source_url
      properties:
        alt:
          type:
          - string
          - 'null'
          description: '`og:image:alt` / `twitter:image:alt`, for screen readers.'
        content_type:
          type:
          - string
          - 'null'
          description: |-
            The origin's `Content-Type`, once the proxy has seen the bytes. `None`
            before the first proxy fetch: the unfurl learns a media URL from markup,
            not from a request.
        height:
          type:
          - integer
          - 'null'
          format: int32
          description: Declared pixel height. Same caveat as [`width`](Self::width).
          minimum: 0
        source_url:
          type: string
          description: |-
            Where the proxy got it. Attribution and debugging only — never fetched
            by a client.
        url:
          type: string
          description: Proxy URL, relative to the API base. The one to fetch.
          example: /embed/media/018c.../image-0
        width:
          type:
          - integer
          - 'null'
          format: int32
          description: |-
            Declared pixel width (`og:image:width`, oEmbed `thumbnail_width`, …).
            Advisory: it lets a client reserve the right box before the bytes land,
            and it is the *publisher's* claim, not a measurement.
          minimum: 0
    EmbedProvider:
      type: object
      description: 'The publishing service: oEmbed `provider_name`/`provider_url`.'
      required:
      - name
      properties:
        name:
          type: string
        url:
          type:
          - string
          - 'null'
    EmbedRawField:
      type: object
      description: One raw key/value the parser saw, before precedence was applied.
      required:
      - source
      - key
      - value
      properties:
        key:
          type: string
        source:
          $ref: '#/components/schemas/EmbedSource'
        value:
          type: string
    EmbedSource:
      type: string
      description: |-
        Which metadata vocabulary a value came from. The debugger colour-codes by
        this, so "why did the title come out like that" is answerable at a glance.
      enum:
      - open_graph
      - twitter_card
      - o_embed
      - html
      - derived
    EmbedVideo:
      type: object
      description: |-
        The embed's video, when it has one.

        Split from [`EmbedMedia`] for one field: [`playable`](Self::playable). Open
        Graph uses `og:video` for *both* a direct media file and an iframe player,
        distinguished only by `og:video:type`, and confusing the two is how a
        renderer ends up trying to decode a page of HTML as a video stream.
      required:
      - media
      - playable
      properties:
        duration_secs:
          type:
          - integer
          - 'null'
          format: int32
          description: |-
            Duration in seconds where the source declared one (oEmbed `duration`,
            `og:video:duration`, `music:duration`).
          minimum: 0
        media:
          $ref: '#/components/schemas/EmbedMedia'
          description: The video itself, proxied like every othermedia reference.
        playable:
          type: boolean
          description: |-
            Whether [`media`](Self::media) is a **direct video file** the client may
            hand to a player.

            True only for a `video/*` content type. An iframe player
            (`og:video:type=text/html`, `twitter:player`) is false: it is a web page,
            and this client renders no remote HTML. A false video still carries its
            poster and opens externally.
    FinishLoginRequest:
      type: object
      description: Request body for completing passkey login
      required:
      - user_id
      - credential
      properties:
        credential:
          type: object
          description: An opaque object representing the completed challenge from the client for verifying a passkey.
          examples:
          - id: credential-id
            type: public-key
            response:
              clientDataJSON: base64
              authenticatorData: base64
              signature: base64
        user_id:
          type: string
          format: uuid
          description: The user's ID.
    FinishLoginResponse:
      type: object
      description: Response body for a successful login or registration
      required:
      - access_token
      - refresh_token
      - user_id
      - access_token_expires_in
      - refresh_token_expires_in
      - profile
      properties:
        access_token:
          type: string
          description: The encoded JWT access token.
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMThjNWI2ZS0wMDAwLTcwMDAtMDAwMC0wMDAwMDAwMDAwMDEifQ.example
        access_token_expires_in:
          type: integer
          format: int64
          description: Seconds until the access token expires.
          example: 2700
        profile:
          $ref: '#/components/schemas/ProfileResponse'
          description: The logged-in user's global profile.
        refresh_token:
          type: string
          description: The encoded JWT refresh token.
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMThjNWI2ZS0wMDAwLTcwMDAtMDAwMC0wMDAwMDAwMDAwMDEiLCJ0eXAiOiJyZWZyZXNoIn0.example
        refresh_token_expires_in:
          type: integer
          format: int64
          description: Seconds until the refresh token expires.
          example: 604800
        user_id:
          type: string
          format: uuid
          description: The ID of the successfully authenticated user.
          example: 018c5b6e-0000-7000-0000-000000000001
    FinishRegisterRequest:
      type: object
      description: Request body for completing passkey registration
      required:
      - user_id
      - name
      - credential
      properties:
        credential:
          type: object
          description: An opaque object representing the completed challenge from the client for creating a passkey.
          examples:
          - id: credential-id
            type: public-key
            response:
              clientDataJSON: base64
              attestationObject: base64
        name:
          type: string
          description: The (potential) display name for the user, not assigned until completion.
        user_id:
          type: string
          format: uuid
          description: The (potential) ID of the user, not assigned until completion.
    GetCommunityProfileResponse:
      type: object
      description: A user's profile within a community
      required:
      - id
      - user_id
      - community_id
      properties:
        community_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        user_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
    IdentitiesResponse:
      type: object
      required:
      - identities
      - passkey_count
      properties:
        identities:
          type: array
          items:
            $ref: '#/components/schemas/IdentityEntry'
        passkey_count:
          type: integer
          format: int64
          description: Passkeys registered under the email identity.
          minimum: 0
    IdentityEntry:
      type: object
      description: One linked login method.
      required:
      - provider
      - external_id
      properties:
        external_id:
          type: string
          description: Email address or SteamID64.
        provider:
          $ref: '#/components/schemas/IdentityProvider'
    IdentityProvider:
      type: string
      description: How a user proves who they are. Stored in `identity`, one row per method.
      enum:
      - email
      - steam
    InstanceModel:
      type: object
      required:
      - single_community_instance
      - provisioned
      properties:
        default_community:
          type:
          - string
          - 'null'
          format: uuid
        provisioned:
          type: boolean
        single_community_instance:
          type: boolean
    InstancePermission:
      type: string
      description: |-
        Instance-level permissions — scoped to the server instance, not any community.
        Stored in `instance_user_permission`.
      enum:
      - ManageCommunities
      - ManageInstance
    LinkEmailFinishRequest:
      type: object
      description: |-
        Request body for completing an email + passkey link on an existing account.
        No `user_id`: the ceremony is keyed by the account that started it.
      required:
      - credential
      properties:
        ceremony_token:
          type:
          - string
          - 'null'
          description: Email-link ceremony token, when not sending a session bearer token.
        credential:
          type: object
          description: An opaque object representing the completed challenge from the client for creating a passkey.
          examples:
          - id: credential-id
            type: public-key
            response:
              clientDataJSON: base64
              attestationObject: base64
    LinkEmailStartRequest:
      type: object
      description: |-
        Request body for starting an email + passkey link on an existing account.
        Authorised by the session bearer token, OR — for the browser-deferred
        ceremony (Linux) — by `ceremony_token`, a short-lived scoped token the app
        mints and threads through the hosted auth page.
      required:
      - email
      - display_name
      properties:
        ceremony_token:
          type:
          - string
          - 'null'
          description: Email-link ceremony token, when not sending a session bearer token.
        display_name:
          type: string
          description: The name of the device registering the passkey.
          example: MacBook Pro
        email:
          type: string
          description: The email address to link.
          example: user@hound.chat
    LinkEmbed:
      type: object
      description: |-
        The unfurled preview of one URL, ready to render.

        Additive by construction: every field after the first three is optional or
        defaulted, so a client built against an older field set still decodes a
        newer server's embed (see the compatibility rules on the realtime protocol).
      required:
      - request_url
      - url
      properties:
        accent_color:
          type:
          - string
          - 'null'
          description: |-
            The page's `theme-color`, as `#rrggbb`. Tints the card's accent rail.
            Validated to exactly that form — a client can parse it with confidence.
        audio:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/EmbedMedia'
        author:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/EmbedAuthor'
        description:
          type:
          - string
          - 'null'
          description: |-
            Summary text. Newlines survive (a publisher's paragraph breaks are
            meaningful); every other control character does not.
        favicon:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/EmbedMedia'
            description: The site's icon, proxied like any other media.
        images:
          type: array
          items:
            $ref: '#/components/schemas/EmbedMedia'
          description: |-
            Every `og:image` the page declared, in document order, capped at
            [`MAX_EMBED_IMAGES`]. The first is the primary/poster; the rest render as
            a gallery. Empty is normal.
        kind:
          $ref: '#/components/schemas/EmbedKind'
        locale:
          type:
          - string
          - 'null'
          description: '`og:locale`, e.g. `en_GB`.'
        provider:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/EmbedProvider'
        published_at:
          type:
          - integer
          - 'null'
          format: int64
          description: '`article:published_time`, as unix milliseconds.'
        request_url:
          type: string
          description: |-
            The URL **as it appeared in the message**. This is what a client
            highlights in the body text, and what pairs an embed with its link.
        site_name:
          type:
          - string
          - 'null'
          description: '`og:site_name`, else the registrable domain.'
        title:
          type:
          - string
          - 'null'
        url:
          type: string
          description: |-
            Where the fetch actually ended up: redirects followed, then `og:url` /
            oEmbed `url` if the page declared a canonical form. What a click opens.
        video:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/EmbedVideo'
    MagicCallback:
      type: object
      required:
      - port
      - state
      properties:
        port:
          type: integer
          format: int32
          description: Loopback port the desktop app's local listener is bound to.
          minimum: 0
        state:
          type: string
          description: |-
            Opaque value the app attaches to its request and expects echoed back
            in the redirect, so it can match the redirect to this ceremony.
    MagicRegisterRequest:
      type: object
      required:
      - link_token
      - display_name
      properties:
        display_name:
          type: string
          description: Display name for the new account's global profile.
        link_token:
          type: string
          description: '`link_token` from a `status: unknown` verify response.'
    MagicStartRequest:
      type: object
      required:
      - email
      properties:
        callback:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MagicCallback'
            description: |-
              Present when a same-device link click should redirect into the
              desktop app's local loopback listener instead of just showing a
              "you're signed in" page.
        email:
          type: string
    MagicVerifyRequest:
      type: object
      required:
      - code
      properties:
        code:
          type: string
    MagicVerifyResponse:
      oneOf:
      - type: object
        description: 'The email is linked to an account: signed in.'
        required:
        - session
        - status
        properties:
          session:
            $ref: '#/components/schemas/FinishLoginResponse'
          status:
            type: string
            enum:
            - ok
      - type: object
        description: |-
          The email is unknown. The client must register
          (`/auth/magic/register`), authorising with `link_token`.
        required:
        - link_token
        - email
        - status
        properties:
          email:
            type: string
          link_token:
            type: string
          status:
            type: string
            enum:
            - unknown
      description: Result of redeeming a magic-link code.
    MergedProfile:
      type: object
      description: |-
        The merged result of a user's global and community-specific profiles.
        Community profile fields take precedence over global ones where both are present.
      required:
      - user_id
      - global_profile_id
      - picture
      properties:
        community_profile_id:
          type:
          - string
          - 'null'
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        global_profile_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        name:
          type:
          - string
          - 'null'
          example: Aoife
        picture:
          type: string
          example: https://picsum.photos/seed/picsum/200
        user_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
    Page_CommunityMemberModel:
      type: object
      description: A paginated list of CommunityMemberModel entities
      required:
      - contents
      - current
      - next
      - prev
      - total
      properties:
        contents:
          type: array
          items:
            $ref: '#/components/schemas/CommunityMemberModel'
          examples:
          - []
        current:
          type: integer
          format: int64
          examples:
          - 0
          minimum: 0
        next:
          type: integer
          format: int64
          examples:
          - 1
          minimum: 0
        prev:
          type: integer
          format: int64
          examples:
          - 0
          minimum: 0
        total:
          type: integer
          format: int64
          examples:
          - 1
          minimum: 0
    Page_CommunityModel:
      type: object
      description: A paginated list of CommunityModel entities
      required:
      - contents
      - current
      - next
      - prev
      - total
      properties:
        contents:
          type: array
          items:
            $ref: '#/components/schemas/CommunityModel'
          examples:
          - []
        current:
          type: integer
          format: int64
          examples:
          - 0
          minimum: 0
        next:
          type: integer
          format: int64
          examples:
          - 1
          minimum: 0
        prev:
          type: integer
          format: int64
          examples:
          - 0
          minimum: 0
        total:
          type: integer
          format: int64
          examples:
          - 1
          minimum: 0
    Page_CommunitySpaceSummary:
      type: object
      description: A paginated list of CommunitySpaceSummary entities
      required:
      - contents
      - current
      - next
      - prev
      - total
      properties:
        contents:
          type: array
          items:
            $ref: '#/components/schemas/CommunitySpaceSummary'
          examples:
          - []
        current:
          type: integer
          format: int64
          examples:
          - 0
          minimum: 0
        next:
          type: integer
          format: int64
          examples:
          - 1
          minimum: 0
        prev:
          type: integer
          format: int64
          examples:
          - 0
          minimum: 0
        total:
          type: integer
          format: int64
          examples:
          - 1
          minimum: 0
    PatchAvatarRequest:
      type: object
      description: Request body for setting a profile avatar.
      required:
      - avatar_upload_id
      properties:
        avatar_upload_id:
          type: string
          format: uuid
          description: The ID returned by `POST /upload/avatar`.
    PatchCommunitySpaceMessageRequest:
      type: object
      description: Request body for editing an existing message
      required:
      - contents
      properties:
        contents:
          type: string
          description: The updated text content
          example: Hello, world! (edited)
    PatchCommunitySpaceRequest:
      type: object
      description: Request body for updating a community space
      properties:
        is_private:
          type:
          - boolean
          - 'null'
        name:
          type:
          - string
          - 'null'
    PatchRoleRequest:
      type: object
      description: Request to rename a role
      required:
      - name
      properties:
        name:
          type: string
    Permission:
      type: string
      enum:
      - ManageCommunity
      - ManageChannels
      - ManageUsers
      - ManageRoles
      - ViewChannels
      - SendMessages
      - ReadHistory
      - ManageMessages
    PostCommunityRequest:
      type: object
      description: Request body for creating a new community
      required:
      - name
      properties:
        name:
          type: string
          description: The display name for the new community
          example: My Community
    PostCommunitySpaceMessageRequest:
      type: object
      description: Request body for posting a message to a community space
      required:
      - contents
      properties:
        attachments:
          type: array
          items:
            type: string
            format: uuid
          description: Upload IDs to attach to the message
        contents:
          type: string
          description: The text content of the message
          example: Hello, world!
    PostCommunitySpaceRequest:
      type: object
      description: Request body for creating a new community space
      required:
      - id
      - name
      - kind
      properties:
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        is_private:
          type:
          - boolean
          - 'null'
          description: Whether this channel is private (invite-only). Defaults to false.
        kind:
          $ref: '#/components/schemas/CommunitySpaceKind'
        name:
          type: string
          example: general
    PostRoleMemberRequest:
      type: object
      description: Request to add a member to a role
      required:
      - user_id
      properties:
        user_id:
          type: string
          format: uuid
    PostRoleRequest:
      type: object
      description: Request to create a new role
      required:
      - name
      properties:
        name:
          type: string
    PostVoiceConfirmRequest:
      type: object
      properties:
        sfu_peer_id:
          type:
          - integer
          - 'null'
          format: int32
          description: |-
            SFU-assigned peer ID. `None` when the client is operating without an
            SFU connection (e.g. relay-only mode or SFU not yet configured). The
            `voice:join` broadcast fires regardless so other participants always see
            the new participant's tile.
          minimum: 0
    ProfileResponse:
      type: object
      description: A user's profile
      required:
      - id
      - user_id
      - name
      properties:
        id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
        name:
          type: string
          example: Aoife
        user_id:
          type: string
          format: uuid
          example: 018c5b6e-0000-7000-0000-000000000001
    PublicKeyCredentialCreationOptionsJSON:
      description: |-
        Schema name mirrors the browser's global `PublicKeyCredentialCreationOptionsJSON` type.
        The openapi-generator maps this schema name to the browser global — no model is generated.
      default: null
    PublicKeyCredentialRequestOptionsJSON:
      description: |-
        Schema name mirrors the browser's global `PublicKeyCredentialRequestOptionsJSON` type.
        The openapi-generator maps this schema name to the browser global — no model is generated.
      default: null
    PutRolePermissionsRequest:
      type: object
      description: Request to replace a role's permissions
      required:
      - permissions
      properties:
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'
    PutSpaceOverwritesRequest:
      type: object
      description: Request body for `PUT /{id}/overwrites` — full replace of all overwrites for the space.
      required:
      - role_overwrites
      - user_overwrites
      properties:
        role_overwrites:
          type: array
          items:
            $ref: '#/components/schemas/RoleOverwrite'
        user_overwrites:
          type: array
          items:
            $ref: '#/components/schemas/UserOverwrite'
    PutUserPermissionsRequest:
      type: object
      description: Request body for setting a user's instance-level permissions.
      required:
      - permissions
      properties:
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/InstancePermission'
    RealtimeConfig:
      type: object
      description: |-
        Response for `GET /realtime/config`: how to reach the realtime plane.

        The client reads this once at startup. `webtransport_url` present means "try
        WebTransport, fall back to the WebSocket on failure"; absent means the
        instance runs no WebTransport endpoint and the WebSocket is the only leg.
        `cert_hash` is the SHA-256 digest (dotted lowercase hex) the client must pin
        — present only for a self-signed development endpoint; a production endpoint
        carries a CA-issued certificate and omits it.
      properties:
        cert_hash:
          type:
          - string
          - 'null'
        webtransport_url:
          type:
          - string
          - 'null'
          example: https://rt.hound.chat/realtime
    RefreshTokenResponse:
      type: object
      description: Response body containing a new access token and refresh token
      required:
      - access_token
      - expires_in
      - refresh_token
      properties:
        access_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMThjNWI2ZS0wMDAwLTcwMDAtMDAwMC0wMDAwMDAwMDAwMDEifQ.example
        expires_in:
          type: integer
          format: int64
          example: 2700
          minimum: 0
        refresh_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMThjNWI2ZS0wMDAwLTcwMDAtMDAwMC0wMDAwMDAwMDAwMDEiLCJ0eXAiOiJyZWZyZXNoIn0.example
    RelayTokenResponse:
      type: object
      description: |-
        Response for re-minting a relay token mid-call (`voice/relay-token`).

        Carries ONLY the fresh token — the client already has the relay URL and SFU
        node id from its `voice/join`, and the roster is maintained over the live
        control plane, so a refresh re-mints nothing else.
      required:
      - relay_token
      properties:
        relay_token:
          type: string
          description: |-
            Short-lived HMAC-SHA256 token (15 min TTL), same format as
            `VoiceJoinResponse::relay_token`: `{user_id}:{space_id}:{expiry}:{hex_mac}`.
    RoleOverwrite:
      type: object
      description: A single permission overwrite entry for a role.
      required:
      - role_id
      - permission
      - allow
      properties:
        allow:
          type: boolean
          description: '`true` = allow; `false` = deny.'
        permission:
          $ref: '#/components/schemas/Permission'
        role_id:
          type: string
          format: uuid
    RoleResponse:
      type: object
      description: A community role with its permissions
      required:
      - id
      - community_id
      - name
      - is_organisers
      - is_everyone
      - permissions
      properties:
        community_id:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        is_everyone:
          type: boolean
        is_organisers:
          type: boolean
        name:
          type: string
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'
    StartLoginRequest:
      type: object
      description: Request body for starting passkey login
      required:
      - email
      properties:
        email:
          type: string
          description: The user's email address.
          example: user@hound.chat
    StartLoginResponse:
      type: object
      description: Response body for starting passkey login
      required:
      - user_id
      - options
      properties:
        options:
          type: object
          description: Challenge from the server to pass to navigator.credentials.get()
          required:
          - publicKey
          properties:
            publicKey:
              $ref: '#/components/schemas/PublicKeyCredentialRequestOptionsJSON'
          examples:
          - publicKey:
              challenge: base64-challenge
              rpId: hound.chat
              timeout: 60000
              allowCredentials: []
        user_id:
          type: string
          format: uuid
          description: The user ID required to complete the passkey ceremony.
          example: 018c5b6e-0000-7000-0000-000000000001
    StartRegisterRequest:
      type: object
      description: Request body for starting passkey registration
      required:
      - email
      - display_name
      properties:
        display_name:
          type: string
          description: The name of the device that user is registering to their account.
          example: MacBook Pro
        email:
          type: string
          description: The user's email address used for verification.
          example: user@hound.chat
    StartRegisterResponse:
      type: object
      description: Response body for starting passkey registration
      required:
      - options
      - user_id
      properties:
        options:
          type: object
          description: Challenge from the server to pass to navigator.credentials.create()
          required:
          - publicKey
          properties:
            publicKey:
              $ref: '#/components/schemas/PublicKeyCredentialCreationOptionsJSON'
          examples:
          - publicKey:
              challenge: base64-challenge
              rpId: hound.chat
              timeout: 60000
        user_id:
          type: string
          format: uuid
          description: The provisional user ID to supply when finishing registration.
    SteamLinkRequest:
      type: object
      properties:
        link_token:
          type:
          - string
          - 'null'
          description: '`link_token` from a `status: unknown` login response (browser link).'
        ticket:
          type:
          - string
          - 'null'
          description: |-
            Steamworks WebAPI ticket (in-Steam link). Exactly one of `ticket` /
            `link_token` must be set.
    SteamLoginResponse:
      oneOf:
      - type: object
        description: 'The Steam ID is linked to an account: signed in.'
        required:
        - session
        - status
        properties:
          session:
            $ref: '#/components/schemas/FinishLoginResponse'
          status:
            type: string
            enum:
            - ok
      - type: object
        description: |-
          The Steam ID is unknown. The client must choose: register a new account
          (`/auth/steam/register`) or sign in and link (`/auth/identity/steam/link`),
          authorising either with `link_token`.
        required:
        - link_token
        - persona
        - status
        properties:
          avatar_url:
            type:
            - string
            - 'null'
          link_token:
            type: string
          persona:
            type: string
          status:
            type: string
            enum:
            - unknown
      description: Result of authenticating with Steam.
    SteamOpenIdVerifyRequest:
      type: object
      required:
      - params
      properties:
        link:
          type: boolean
          description: |-
            Link intent: the caller only wants proof of Steam-account ownership
            (a `link_token`), never a session — even when the Steam ID is already
            linked. Used by the settings "link Steam" browser flow.
        params:
          type: object
          description: |-
            The raw `openid.*` query params from Steam's return redirect, relayed
            verbatim by the auth service. Verification happens here: the backend is
            the trust root, and Steam honours one check per assertion.
          additionalProperties:
            type: string
          propertyNames:
            type: string
    SteamRegisterRequest:
      type: object
      required:
      - link_token
      - name
      properties:
        link_token:
          type: string
          description: '`link_token` from a `status: unknown` login response.'
        name:
          type: string
          description: Display name for the new account's global profile.
    SteamSessionRequest:
      type: object
      required:
      - ticket
      properties:
        ticket:
          type: string
          description: |-
            Hex-encoded ticket from `GetAuthTicketForWebApi` (identity
            "hound-backend-login").
    UploadResponse:
      type: object
      required:
      - id
      - url
      - content_type
      - size_bytes
      properties:
        content_type:
          type: string
          example: image/webp
        id:
          type: string
[...]
