  [2m2026-01-25T17:53:53.154665Z[0m [34mDEBUG[0m [1;34mbackend[0m[34m: [34mcli arguments, [1;34mself.log_format[0m[34m: auto[0m
    [2;3mat[0m services/backend/src/lib.rs:107

openapi: 3.1.0
info:
  title: backend
  description: ''
  license:
    name: CNPL
    url: https://raw.githubusercontent.com/houndapp/src/refs/heads/main/LICENCE?token=GHSAT0AAAAAADONFUAYBK6ECB5JNROCM6Q22KOPY3A
  version: 0.1.0
servers:
- url: https://api.hound.chat/
  description: production
- url: http://127.0.0.1:8080/
  description: local development
paths:
  /.well-known/webauthn:
    get:
      tags:
      - well-known
      summary: Begins the ceremony to register a user to hound.chat
      operationId: webauthn
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAuthnResponse'
  /auth/login/finish:
    post:
      tags:
      - auth
      summary: Completes the ceremony to login a user to hound.chat with an existing passkey.
      operationId: finish_login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishLoginRequest'
        required: true
      responses:
        '200':
          description: login request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinishLoginResponse'
        '400':
          description: invalid passkey challenge
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create JWT token
  /auth/login/start:
    post:
      tags:
      - auth
      summary: Starts the ceremony to login a user to hound.chat with an existing passkey.
      operationId: start_login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartLoginRequest'
        required: true
      responses:
        '200':
          description: login request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartLoginResponse'
        '400':
          description: invalid passkey challenge
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create JWT token
  /auth/register/finish:
    post:
      tags:
      - auth
      summary: Completes the ceremony to register a user to hound.chat
      operationId: finish_register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishRegisterRequest'
        required: true
      responses:
        '200':
          description: signup completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinishLoginResponse'
        '400':
          description: invalid passkey challenge
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create JWT token
  /auth/register/start:
    post:
      tags:
      - auth
      summary: Begins the ceremony to register a user to hound.chat
      operationId: start_register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRegisterRequest'
        required: true
      responses:
        '200':
          description: Registration challenge generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartRegisterResponse'
        '422':
          description: Invalid request body
        '500':
          description: Internal server error
  /auth/token/refresh:
    post:
      tags:
      - Authentication
      summary: Refresh JWT token endpoint - Uses middleware to validate refresh token
      operationId: refresh_token
      responses:
        '200':
          description: new access token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenResponse'
        '401':
          description: invalid refresh token
        '500':
          description: internal server error
      security:
      - token: []
  /auth/token/revoke:
    post:
      tags:
      - auth
      summary: Revoke refresh token endpoint
      operationId: revoke_token
      responses:
        '200':
          description: token revoked
        '401':
          description: Invalid token
        '500':
          description: Internal server error
      security:
      - token: []
  /auth/token/validate:
    get:
      tags:
      - auth
      summary: Refresh JWT token endpoint - Uses middleware to validate refresh token
      operationId: validate_token
      responses:
        '200':
          description: access token validated
        '401':
          description: invalid refresh token
        '500':
          description: internal server error
      security:
      - token: []
  /community:
    get:
      tags:
      - community
      summary: Completes the ceremony to login a user to hound.chat with an existing passkey.
      operationId: get_communities
      parameters:
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: list of user's communities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_CommunityModel'
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create community
      security:
      - token: []
    post:
      tags:
      - community
      summary: Completes the ceremony to login a user to hound.chat with an existing passkey.
      operationId: post_community
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCommunityRequest'
        required: true
      responses:
        '200':
          description: new community created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCommunityResponse'
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create community
  /community/join:
    put:
      tags:
      - community
      summary: Completes the ceremony to login a user to hound.chat with an existing passkey.
      operationId: join_community
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community joined
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create community
      security:
      - token: []
  /community/leave:
    delete:
      tags:
      - community
      summary: Completes the ceremony to login a user to hound.chat with an existing passkey.
      operationId: leave_community
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community left
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create community
      security:
      - token: []
  /community/members:
    get:
      tags:
      - community
      summary: Completes the ceremony to login a user to hound.chat with an existing passkey.
      operationId: get_community_members
      parameters:
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: list of community members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_CommunityMemberModel'
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create community
      security:
      - token: []
  /community/space:
    get:
      tags:
      - community
      summary: Completes the ceremony to login a user to hound.chat with an existing passkey.
      operationId: get_community_spaces
      parameters:
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: new community created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_CommunitySpaceModel'
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't find amy spaces
      security:
      - token: []
    post:
      tags:
      - community
      summary: Completes the ceremony to login a user to hound.chat with an existing passkey.
      operationId: post_community_space
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommunitySpaceRequest'
        required: true
      responses:
        '200':
          description: new community created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunitySpaceModel'
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't find amy spaces
      security:
      - token: []
    delete:
      tags:
      - community
      summary: Completes the ceremony to login a user to hound.chat with an existing passkey.
      operationId: delete_community_space
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: community space deleted
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create community
      security:
      - token: []
  /community/space/message:
    post:
      tags:
      - community
      summary: Completes the ceremony to login a user to hound.chat with an existing passkey.
      operationId: post_community_space_message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCommunitySpaceMessageRequest'
        required: true
      responses:
        '200':
          description: list of community members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunitySpaceMessageModel'
        '422':
          description: invalid parameters in request
        '500':
          description: couldn't create community
      security:
      - token: []
components:
  schemas:
    CommunityMemberModel:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
    CommunityModel:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
    CommunitySpaceMessageModel:
      type: object
      required:
      - id
      - space_id
      - user_id
      - contents
      properties:
        contents:
          type: string
        id:
          type: string
          format: uuid
        space_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
    CommunitySpaceModel:
      type: object
      required:
      - id
      - community_id
      - name
      properties:
        community_id:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        name:
          type: string
    CreateCommunityResponse:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
    CreateCommunitySpaceRequest:
      type: object
      required:
      - community_id
      - name
      properties:
        community_id:
          type: string
          format: uuid
        name:
          type: string
    FinishLoginRequest:
      type: object
      required:
      - user_id
      - credential
      properties:
        credential:
          description: |-
            An opaque object representing the completed challenge from the client
            for verifying a passkey.
        user_id:
          type: string
          format: uuid
          description: The user's ID.
    FinishLoginResponse:
      type: object
      required:
      - access_token
      - refresh_token
      - user_id
      - access_token_expires_in
      - refresh_token_expires_in
      properties:
        access_token:
          type: string
          description: The encoded JWT blob.
        access_token_expires_in:
          type: integer
          format: int64
          description: When from the point of issuance the provided token will expire.
        refresh_token:
          type: string
          description: The encoded JWT blob.
        refresh_token_expires_in:
          type: integer
          format: int64
          description: When from the point of issuance the provided token will expire.
        user_id:
          type: string
          format: uuid
          description: The user's ID.
    FinishRegisterRequest:
      type: object
      required:
      - user_id
      - credential
      properties:
        credential:
          description: |-
            An opaque object representing the completed challenge from the client
            for creating a passkey.
        user_id:
          type: string
          format: uuid
          description: The (potential) ID of the user, not assigned until completion.
    Page_CommunityMemberModel:
      type: object
      required:
      - contents
      - current
      - next
      - prev
      - total
      properties:
        contents:
          type: array
          items:
            type: object
            required:
            - id
            properties:
              id:
                type: string
                format: uuid
        current:
          type: integer
          format: int64
          minimum: 0
        next:
          type: integer
          format: int64
          minimum: 0
        prev:
          type: integer
          format: int64
          minimum: 0
        total:
          type: integer
          format: int64
          minimum: 0
    Page_CommunityModel:
      type: object
      required:
      - contents
      - current
      - next
      - prev
      - total
      properties:
        contents:
          type: array
          items:
            type: object
            required:
            - id
            - name
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
        current:
          type: integer
          format: int64
          minimum: 0
        next:
          type: integer
          format: int64
          minimum: 0
        prev:
          type: integer
          format: int64
          minimum: 0
        total:
          type: integer
          format: int64
          minimum: 0
    Page_CommunitySpaceModel:
      type: object
      required:
      - contents
      - current
      - next
      - prev
      - total
      properties:
        contents:
          type: array
          items:
            type: object
            required:
            - id
            - community_id
            - name
            properties:
              community_id:
                type: string
                format: uuid
              id:
                type: string
                format: uuid
              name:
                type: string
        current:
          type: integer
          format: int64
          minimum: 0
        next:
          type: integer
          format: int64
          minimum: 0
        prev:
          type: integer
          format: int64
          minimum: 0
        total:
          type: integer
          format: int64
          minimum: 0
    PostCommunityRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
    PostCommunitySpaceMessageRequest:
      type: object
      required:
      - space_id
      - contents
      properties:
        contents:
          type: string
        space_id:
          type: string
          format: uuid
    RefreshTokenResponse:
      type: object
      required:
      - access_token
      - expires_in
      - refresh_token
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
          format: int64
          minimum: 0
        refresh_token:
          type: string
    StartLoginRequest:
      type: object
      required:
      - email
      properties:
        email:
          type: string
          description: The user's email address.
    StartLoginResponse:
      type: object
      required:
      - user_id
      - options
      properties:
        options:
          description: |-
            An opaque object representing the challenge from the server for passkey
            verification.
        user_id:
          type: string
          format: uuid
          description: The user's ID.
    StartRegisterRequest:
      type: object
      required:
      - email
      - display_name
      properties:
        display_name:
          type: string
          description: The name of the device that user is registering to their account.
        email:
          type: string
          description: The user's email address used for verification.
    StartRegisterResponse:
      type: object
      required:
      - options
      - user_id
      properties:
        options:
          description: |-
            An opaque object representing the challenge from the server for passkey
            creation.
        user_id:
          type: string
          format: uuid
          description: The (potential) ID of the user, not assigned until completion.
    WebAuthnResponse:
      type: object
      required:
      - rp_id
      - origins
      properties:
        origins:
          type: array
          items:
            type: string
            format: uri
        rp_id:
          type: string
  securitySchemes:
    token:
      type: http
      scheme: bearer
      bearerFormat: JWT
tags:
- name: auth
  description: Auth API endpoints
- name: community
  description: Community API endpoints
- name: well-known
  description: .well-known endpoints

